/*
	_content.css
*/
.icm{
	vertical-align: middle;
}
.icon{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.img-icon{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}



small{
	font-size: 85%;
}

.hr-style-1{
	height: 2px;
	width: 100%;
	margin-top: 30px;
	position: relative;
	margin-bottom: 30px;
	background-color: $color-1;
	&:before{
		@extend .clafclear;
		width: 40%;
		top: 50%;
		background-color: $color-1;
		height: 6px;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.link-style-1{
	a{
		color: $color-1;
		font-weight: 600;
		text-transform: uppercase;
		text-shadow: 0 0 3px rgba($color-1, 0.5);
	}
}
.fa-star{
	color: #cfcfcf;
	&.fill{
		color: $color-1;
	}
}
.fa-star-o{
	color: #cfcfcf;
	&.fill, &:hover{
		color: $color-1;
	}
}
.p-v-md{
	@media (min-width: 991px){
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
.p-def{
	padding: 15px;
	@media (min-width: 992px) {
		padding: 60px;
	}
}
.entry-header{
	p{
		line-height: 170%;
	}
	b{
		font-weight: 900;
	}
	@extend .h2-style-1;

	@media (min-width: 992px) {
		h1{
			position: relative;
		}
	}
}
.h1-style-1{
	h1:not(.no-style){
		&:before{
			@extend .clafclear;
			width: 40px;
			height: 5px;
			background-color: currentColor;
			bottom: 0;
			@media (max-width: 991px){
				display: none;
			}
		}
		@media (min-width: 992px){
			padding-bottom: 20px;
		}
	}
	@media (max-width: 991px) {
		h1{
			&:before{
				display: none;
			}
		}
	}
	&.text-center{
		h1{
			&:before{
				@extend .trans-h-center;
			}
		}
	}
	&.text-right{
		h1{
			&:before{
				left: auto;
				right: 0;
			}
		}
	}
}

.h2-style-1{
	h2{
		border-left: 5px solid $color-1;
		padding-left: 15px;
		text-transform: uppercase;
		font-weight: 800;
		@media (max-width: 991px){
			border-left: none;
		}
	}
}
.h2-style-2{
	h2:not(.no-style){
		text-transform: uppercase;
		&:before{
			@extend .clafclear;
			width: 40px;
			height: 5px;
			background-color: $color-1;
			bottom: 0;
			@media (max-width: 991px){
				display: none;
			}
		}
		@media (min-width: 992px){
			padding-bottom: 20px;
		}
	}
	@media (max-width: 991px) {
		h2{
			&:before{
				display: none;
			}
		}
	}
	&.text-center{
		h2{
			&:before{
				@extend .trans-h-center;
			}
		}
	}
	&.text-right{
		h2{
			&:before{
				left: auto;
				right: 0;
			}
		}
	}

}
.bg-shadow{
	pointer-events: none;
}


figcaption{
	margin-top: 15px;
	font-size: em(16);
	line-height: 135%;
	font-weight: 700;
	margin-bottom: 10px;
}

.bg-body{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg/bg-body.jpg');
	background-color: white;
	background-repeat: repeat-y;
	//display: none;
	z-index: -1;
	pointer-events: none;
	//animation: bodyanime 900s linear infinite;
	background-position: center -100px;
}

.bg-dotswave{
	background-image: url('../img/bg/bg-dotswave.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
}





//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
	&.bnr-article{

		.bnr-carousel{
			figure{
				height: 430px;
			}
			.carousel-content{
				.align-i-center{
					.btn-content{
						.btn-def{
							display: none;
						}
					}
					height: 430px;
				}
			}
		}

	}
}





.bnr-carousel{
	$slider-height: 980px;
	background-color: white;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	background-position: center center;
	figure{
		overflow: hidden;
		height: $slider-height;
		transition: all 1.8s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    transform: scale(1.2);
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			&:before{
				//background-position: 0;
			}
			.img{
				filter: blur(0);
				transform: scale(1);
			}
		}
	}
	figure{
		h1, p, img, .btn-def, .btn-opacity{
			opacity: 0;
			transition: 1s ease;
		}
		h1{
			font-size: em(56);
			font-family: $font-family-2;
			transform: matrix(1,0,0,1,0,-7);
			@media (max-width: 991px) {
				font-size: em(26);
			}
		}
		p{
			font-size: em(18);
			font-weight: 300;
		}
		p, img{
			transform: translateY(20px);	
		}
	}
	.text-content{
		@media (min-width: 992px) {
			margin-top: -80px;
		}
	}
	.is-selected{
		h1, p, .btn-def, .btn-opacity, img, .img-product{
			transform: scale(1);
			//text-shadow: 0px 0px 0px white;
			opacity: 1;
		}
	}
	.flickity-slider{
		transform: inherit !important;
	}
	.container-arrows{
    //@extend .container;
    @extend .trans-h-center;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    padding-bottom: 30px;
    justify-content: space-between;
    pointer-events: none;
    *{
    	pointer-events: auto;
    }
    .flickity-prev-next-button{
    	display: inline-block;
    	position: relative;
    	left: auto;
    	right: auto;
    	background-color: white;
    	border-radius: 0;
    	height: 100px;
    	clip-path: polygon(0 0, 0% 100%, 100% 50%);
  		.arrow{
  			fill: $color-1;
  		}
    	&.previous{
    		.arrow{
    			transform: scale(1.2) translateX(-25%);
    			transform-origin: center;
    		}
    	}
    	&.next{
    		clip-path: polygon(100% 0, 0 50%, 100% 100%);
    		.arrow{
    			transform: scale(1.2) translateX(25%) rotate(180deg);
    			transform-origin: center;
    		}
    	}

    }
    @media (max-width: 991px) {
    	//justify-content: center;
    }
	}
	.carousel-content{
		position: relative;
		.align-i-center{
			height: $slider-height;
		}
		@media (max-width: 991px) {
			.align-i-center{
				height: 90vh;
				margin-top: 30px;
			}
		}
		@media (min-width: 992px) {

		}
		
	}
	.bg-shadow{
		pointer-events: none;
		//display: none;
		background-color: rgba(black, 0.5);
		//background: linear-gradient(to bottom, transparent, $color-2);
		@media (max-width: 991px) {
			background-color: rgba(black, 0.6);
		}
	}


	//Навигация
	.flickity-page-dots, .flickity-dots-1 .flickity-page-dots{
		//@extend .container;
		//@extend .trans-h-center;
		//left: auto !important;
		width: auto;
		bottom: 0;
		text-align: center;
		display: flex;
		align-items: center;
		padding: 0 15px;
		margin-bottom: 0 !important;
		text-align: right;
		pointer-events: none;
		*{
			pointer-events: auto;
		}
		li{
			pointer-events: auto;
			background-color: white;
			border-color: white;
			opacity: 0.5;
			margin-top:  5px;
			margin-bottom: 5px;
    	&.is-selected{
    		opacity: 1;
    	}
		}
	}
	@media (min-width: 992px) {
		
	}
	@media (max-width: 991px) {
		p{
			display: none;
		}
		figure{
			height: 100vh;
			.img{
				height: 100vh;
			}
		}
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
		.flickity-page-dots{
			top: auto;
			height: auto;
			text-align: center;
			li{
				width: 15px;
				height: 15px;
				margin: 0 12px 0 12px;
				display: inline-block;
				border: 1px solid white;
				background-color: transparent;
				&.is-selected{
					border: none;
				}
			}
		}
		.container-arrows{
			width: 100%;
		}

	}
	@media (min-width: 992px) {
		.bnr-phone{
			display: none;
		}
	}
	@media ( max-width:370px ) {
		word-wrap: break-word;
	}

}
.bnr-footer{
	//@extend .trans-h-center;
	left: 0;
	z-index: 1;
	width: 100%;
	color: white;
	position: absolute;
	bottom: 15px;
	.icm{
		font-size: 65px;
	}
	.wrapper{
		padding: 15px 15px 30px 15px;	
	}
	@media (max-width: 991px) {
		color: black;
		position: relative;
		bottom: 0;
		padding-top: 30px;
		.icm{
			color: $color-1;
		}
	}
}





.intro{
	position: relative;
	z-index: 1;
	.btn-def.bg-none{
		background-color: transparent;
		&:hover{
			background-color: transparent;
			box-shadow: none;
		}
	}
	@media (max-width: 991px) {
		height: auto;
	}
	@media (min-width: 992px) {
		.intro-content{
			padding-top: 100px;
		}
	}
	.intro-content{
		position: relative;
		width: 100%;
		height: 100%;
		color: white;
		z-index: 1;
		text-align: center;
		align-items: center;
		.align-i-center{
			height: 100%;
		}
	}
	.entry-content{
		@media (min-width: 992px) {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.intro-media{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.img{
			//filter: brightness(60%);
			height: 100%;
			background-size: cover;
		}
	}
}
.intro-footer{
	position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: left;
  figure{
  	display: inline-block;
  	&:nth-child(1){
  		margin-right: 30px;
  	}
  	.icm{
  		border-radius: 50%;
  		padding: 12px;
  		border: 1px solid white;
  		font-size: 22px;
  	}
  	.info-content{
  		font-size: em(18);
  		b{
  			font-size: em(22);
  		}
  	}
  }
  @media (max-width: 991px) {
  	display: none;
  }
}







.main.intro{
	height: 1080px;
	.ghost-text{
		text-align: center;
		font-size: 48px;
		display: block;
		margin-top: 50px;
		opacity: 0.2;
		letter-spacing: 30px;
		p{
			padding-bottom: 20px;
		}
		text-transform: uppercase;
		b{
			font-weight: 900;
			font-size: 84px;
		}
		@media (max-width: 991px) {
			display: none;
		}
	}
	.slogan{
		text-transform: uppercase;
		margin-top: 60px;
		margin-bottom: 60px;
		h2{
			font-weight: 400;
		}
		h1{
			font-weight: 900;
		}
	}
	@media (max-width: 991px) {
		height: 100vh;
		padding-top: 80px;
		.slogan{
			display: none;
		}
	}
}





.typels{
	text-align: center;
	display: flex;
	justify-content: center;
	figure{
		backface-visibility: hidden;
		display: inline-block;
		margin-top: 15px;
		width: 170px;
		margin-bottom: 15px;
		padding: 0 15px;
	}
	.icm{
		font-size: 40px;
	}
	@media (max-width: 991px) {
		figcaption{
			display: none;
		}
	}
}
.typels-content{
	.search-content{
		justify-content: center;
		display: flex;
	}
	.input-search{
		position: relative;
		height: 60px;
		width: 730px;
		input{
			padding-right: 95px;
			padding-left: 30px;
			width: 100%;
			background-color: rgba(white, 0.5);
			border: 0;
			height: 100%;
			font-weight: 600;
			@include placeholder-color( black );
		}
		.btn-loupe{
			background-color: #1c1c1c;
			color: white;
			height: 100%;
			width: 70px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 24px;
			position: absolute;
			box-shadow: 0 0 20px rgba(black, 0.8);
			right: 0;
			top: 0;
		}
	}
	select{
		@media (max-width: 991px) {
			min-width: 120px;
			font-size: 15px;
		}
		@media (min-width: 992px) {
			min-width: 170px;
		}
	}
	.gotomap-links{
		li{
			display: inline-block;
		}
	}
	.select2-container--default .select2-selection--single{
		height: 60px;
		border: none;
		background-color: $color-2;
		display: flex;
		align-items: center;
		font-weight: 700;
		text-transform: uppercase;
		padding: 15px 20px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		line-height: 100%;
		color: white;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		background-color: $color-2;
	}
}

.select2-dropdown{
	background-color: $color-2;
	border: none;
	color: white;
	.select2-results__option--highlighted[aria-selected]{
		color: white !important;
		background-color: black !important;
	}
	.select2-results__option{
		padding: 15px 30px;
		background-color: transparent !important;
		color: white;
		font-weight: 700;
		text-transform: uppercase;
	}
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	width: 35px;
}








//content



//.short-news{
.short-news{
	overflow: hidden;
	position: relative;
	background-color: $color-gray-2;
	.ghost-text{
		text-transform: uppercase;
		position: absolute;
		font-size: 246px;
		line-height: 150%;
		font-weight: 900;
		top: -100px;
		left: 0;
		opacity: 0.1;
	}
	@media (min-width: 992px) {
		padding-top: 100px;
	}
	.container{
		position: relative;
	}
	.owl-carousel .owl-stage-outer{
		overflow: visible;
	}
	.owl-item{
		opacity: 0.3;
		transition: all 0.3s ease;
		&.active{
			opacity: 1;
		}
	}
	.owl-prev, .owl-next{
		display: flex !important;
    align-items: center !important;
    &:hover{
    	color: $color-1 !important;
    }
	}
	.owl-nav{
		margin: 30px 0;
		position: relative;
		justify-content: space-between;
    display: flex;
    font-size: 20px;
	}
	.owl-btn-t{
		font-size: 12px;
	}
}
.short-news-items{
	.img-content{
		overflow: hidden;
		position: relative;
	}
	.img{
		height: 340px;
		background-size: cover;
	}
	.desc-content{
		background-color: white;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		padding: 10px 20px;
		position: relative;
		@media (min-width: 992px) {
			margin-top: -30px;
		}
	}
	.detail-info{
		display: flex;
		margin-left: -10px;
		margin-right: -10px;
		.color-1{
			font-weight: 800;
		}
		.va-middle{
			padding-left: 10px;
			padding-right: 10px;
			color: $color-gray-4;
			@media (min-width: 992px) {
				white-space: nowrap;
			}
		}
		.icm{
			margin-right: 10px;
		}
	}
}
.recmd{
	background-color: #39ae05;
	color: white;
	padding: 15px 20px;
	width: 200px;
	text-align: center;
	display: inline-block;
	transform: rotate(-45deg);
	transform-origin: 50% 100px;
	position: absolute;
	left: 0;
	top: 0;
}
.sales{
	@extend .recmd;
	background-color: $color-1;
}
.price{
	font-weight: 800;
	color: $color-1;
	font-size: em(26);
}




//short-about
.short-about{
	background-image: url('../img/bg/bg-columns.jpg');
	background-position: center;
	h3{
		font-weight: 500;
		font-size: em(26);
	}
	@media (min-width: 992px) {
		.entry-header{
			margin-bottom: 70px;
		}
	}
	p{
		color: black;
		margin-bottom: 15px;
	}
	.link-content{
		font-weight: 700;
		text-transform: uppercase;
		color: $color-1;
	}
}







//team
.team{
	&.intro{
		.intro-media .img{
			height: 100%;
		}
		@media (max-width: 991px) {
			height: 210px;
			.intro-media .img{
				height: 210px;
			}
			.intro-content{
				display: none;
			}
		}
	}
	.desc-img{
		position: absolute;
		color: black;
		width: 100%;
		display: flex;
		justify-content: center;
		bottom: 30px;
		text-align: left;
		.container{

		}
		h3{
			font-weight: 500;
			width: 50%;
		}
	}
}
.team-main{
  z-index: 1;
  position: relative;
	.img-content{
		z-index: 1;
		position: relative;
		img{
			width: 100%;
		}
		.img{
			position: relative;
			&:before{
				@extend .clafclear;
				width: 60px;
				background-color: $color-1;
				height: 50%;
				z-index: -1;
				right: -10px;
				top: -8px;
			}
		}
	}
	.desc-content{
		padding: 60px 70px 30px 50px;
		position: relative;
		&:before{
			@extend .clafclear;
			@extend .shadow-def;
			background-color: white;
			top: 0;
			left: 0;
			width: 125%;
			left: -25%;
		}
		@media (min-width: 992px) {
			margin-top: -100px;
		}
		@media (max-width: 991px) {
			padding: 25px 15px;
		}
	}
}


.team-staff{
	@media (min-width: 991px){
		margin-bottom: 120px;
	}
}
.team-items{
	.desc-content{
		position: absolute;
		left: 0;
		bottom: 30px;
		background-color: $color-1;
		color: white;
		width: 90%;
		padding: 10px 30px;
	}
	.img-content{
		overflow: hidden;
	}
	.img{
		background-size: cover;
		transition: all 0.3s ease;
		height: 350px;
		backface-visibility: hidden;
	}
	figure{
		position: relative;
		&:hover{
			.img{
				transform: scale(1.07) rotate(5deg);
			}
		}
	}

}


//guidebuy
.guidebuy-items{
	figure{
		counter-increment: carousel-cell;
		display: flex;
		align-items: center;
		margin-left: -15px;
		margin-right: -15px;
		&:after{
			content: '0' counter(carousel-cell);
			font-weight: 900;
			width: 50%;
			font-size: 270px;
			opacity: 0.1;
			text-align: center;
			padding-left: 15px;
			padding-right: 15px;
			justify-content: center;
			@media (min-width: 991px){
				line-height: 0;
			}
		}
		&:nth-child(9) ~ *{
			&:after{
				content: counter(carousel-cell);
			}
		}
		&:last-child{
			.wrapper{
				position: relative;
				&:before{
					content: " ";
					height: 100%;
					width: 100%;
					position: absolute;
					right: 50%;
					transform: translate(45px, -15px);
					width: 60px;
					height: 60px;
					z-index: -1;
					background-color: $color-1;
					border-radius: 50%;
					@media (max-width: 991px){
						display: none;
					}
				}
			}
		}
		@media (min-width: 992px) {

			&:nth-child(even){
				flex-direction: row-reverse;
				.wrapper-flex{
					&:before{
						right: auto;
						left: -16px;
					}
					&:after{
						right: auto;
						left: -21px;
					}
				}
			}
			&.figure-row{
				width: 100%;
				.img-content{
					width: 53.5%;
					position: relative;
				}
				.desc-content{
					width: 50%;
					padding-left: 60px;
					padding-right: 60px;
				}
				.img{
					width: 100%;
					position: relative;
					height: 270px;
					min-height: 360px;
				}
				.wrapper{
					padding-left: 0;
					padding-right: 0;
					width: 100%;
				}
				&:after, &:before, .wrapper-flex:before, .wrapper-flex:after{
					display: none;
				}
			}
		}
		&:nth-last-child(1){
			&:after{
				display: none;
			}
		}
	}
	.wrapper{
		padding-left: 15px;
		padding-right: 15px;
		width: 50%;
	}
	.wrapper-flex{
		@extend .shadow-def;
		display: flex;
		background-color: white;
		min-height: 250px;
		align-items: center;
		position: relative;
		&:before{
			@extend .clafclear;
			height: calc(100% + 30px);
			width: 3px;
			right: -17px;
			top: 0;
			background-color: $color-1;
		}
		&:after{
			@extend .clafclear;
			@extend .trans-v-center;
			top: 0;
			width: 13px;
			height: 13px;
			background-color: $color-1;
			border-radius: 50%;
			right: -22px;
		}
	}
	.img-content{
		height: 100%;
    width: 270px;
	}
	.img{
		background-size: cover;
    height: 100%;
    position: absolute;
    width: 270px;
    top: 0;
    left: 0;
	}
	.desc-content{
		padding: 20px 20px;
		width: 50%;
		position: relative;
		p{
			font-size: em(13.5);
		}
		.btn-def{
			a{
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
	h4{
		color: $color-1;
	}
	@media (max-width: 991px) {
		.img{
			position: relative;
		}
		.desc-content{
			width: 100%;
		}
		figure{
			flex-direction: column-reverse;
			&:after{
				width: 100%;
				font-size: 90px;
			}
			&:before, .wrapper-flex:before, .wrapper-flex:after{
				display: none;
			}
			.wrapper-flex{
				display: block;
			}
			.wrapper{
				width: 100%;
			}
			.img-content{
				width: 100%;
			}
			.img{
				height: 200px;
				width: 100%;
			}
		}
	}
}



//guidesale
.guidesale{
	.guidebuy-items{
		figure{
			&:last-child{
				.wrapper{
					&:before{
				    width: 34px;
				    height: 34px;
				    bottom: -64px;
				    right: -18px;
						transform: none;
					}
				}
			}

		}
		.img{
			//height: 280px;
		}
	}
}




//studhotel

.studhotel{
	.studhotel-feed{
		.img-content{
			@media (min-width: 991px){
				min-height: 386px;
			}
		}
		.img{
			background-size: cover;
		}
		.rect-def{
			@extend .shadow-def;
		}

	}
}
.p-min{
	p{
		font-size: em(14);
		line-height: 155%;
	}
}
.rect-def{
	.wrapper-flex{
		display: flex;
		background-color: white;
		align-items: center;
		position: relative;
	}
	.img-content, .desc-content{
		width: 50%;
	}
	.desc-content{
		padding: 30px 60px;
	}
	@media (max-width: 991px){
		.img{
			height: 210px;
		}
	}
	@media (min-width: 992px) {
		.img{
			height: 100%;
			position: absolute;
			left: 0;
			width: inherit;
			top: 0;
			background-size: cover;
		}
	}
	@media (max-width: 991px) {
		.wrapper-flex{
			flex-direction: column;
		}
		.img-content, .desc-content{
			width: 100%;
		}
		.desc-content{
			padding: 15px 15px;
		}
	}
}


.studhotel-advantages{
	figure{
		color: $color-1;
		box-shadow: 0 0 45px -35px rgba(black, 0.8);
		padding: 40px 20px;
		transition: all 0.4s ease;
		background-color: white;
		&:hover{
			background-color: $color-1;
			color: white;
		}
		@media (min-width: 992px){
			&:not(:nth-last-child(1)){
				border-right: 1px solid #efefef;
			}
		}
	}
	.img-content{
		height: 80px;
	}
	.icm{
		font-size: 70px;
	}
}

.studhotel-search{
	background-image: url('../img/other/studhotel-search.jpg');
	background-size: cover;
}


//studhotel-article
.studhotel-article{
	@media (min-width: 992px) {

		.entry-content, .form-block{
			
			
		}
	}
}
.input-content{
	position: relative;
	.ui-datepicker-trigger {
    bottom: 0;
    border: 0;
    right: 0px;
    position: absolute;
    background-color: transparent;
    padding: 8px 20px;
    color: black;
    height: 100%;
	}
}




//reviews
.intro-reviews{
	@media (min-width: 992px) {
		.align-i-center{
			padding-bottom: 70px;
		}
	}
}
.reviews{
	position: relative;
	z-index: 1;
	@media (min-width: 992px) {
		margin-top: -200px;
	}
}
.reviews-items{

	.img-content{
		overflow: hidden;
		position: relative;
	}
	.hover-content{
		&:hover{
			.img{
				transform: scale(1.05);
			}
		}
	}
	.img{
		@media (min-width: 1600px){
			height: 400px;
		}
		height: 300px;
		transition: all 0.3s ease;
		backface-visibility: hidden;
		background-size: cover;
		@media (max-width: 991px) {
			
		}
	}
	.cell-hover{
		align-items: flex-end;
		padding: 15px 20px;
		@media (min-width: 1600px){
			padding: 40px 50px;
		}
		@media (max-width: 991px){
			align-items: center;
			font-size: em(12);
		}
	}
}


//helprent
.helprent{
	.btn-def{
		font-size: 0.9em;
	}
}
.accordion-def{
	@media (min-width: 992px) {
		margin-top: 90px;
	}
	.panel-default{
		margin-top: 0;
		margin-bottom: 0;
		border: none;
		.panel-heading{
			background-color: #f0f0f0;
			//padding: 15px 30px;
			padding: 0;
			border: 1px solid transparent;
			transition: 0.3s;
			&:hover{
				border-color: $color-1;
			}
			.fa{
				padding-left: 10px;
				padding-right: 10px;
				vertical-align: middle;
				color: $color-1;
				position: absolute;
    		right: 14px;
    		top: 20px;
			}
		}
		.panel-body{
			border-top: none !important;
		}
		.panel-title{
			a{
				transition: all 0.3s ease;
				display: block;
				padding: 17px 40px 17px 30px;
			}
			a[aria-expanded="true"]{
				color: $color-2;
				.fa{
					transform-origin: center;
					transform: rotate(180deg);
				}
			}
		}
		.panel-body{
			padding: 15px 30px;
		}

	}
}



//request
.request{	
}
.form-block{
	background-color: white;
	padding: 30px 60px;
	@media (max-width: 991px) {
		padding: 10px 15px;
	}
}
.height-fhd{
	@media (min-width: 992px) {
		height: 100vh;
		&.reg, &.studhotel-article{
			min-height: 980px;
		}
	}
}



//faq
.faq-nav{
	a{
		color: $color-1;
		border: 1px solid $color-gray-2;
		font-weight: 700;
		padding: 15px 30px !important;
		background-color: white;
	}
	li{
		&.active{
			a{
				background-color: $color-1;
				color: white;
			}
		}
		&:hover{
			a{
				background-color: $color-1;
				color: white;
			}
		}
	}
}






//advantages-ofchoose
.advantages-ofchoose{
	background-image: url('../img/bg/degline.jpg');
	background-position: bottom;
	background-repeat: repeat-x;
	.items{
		@extend .shadow-def;
		.img{
			//height: 280px;
		}
		figure{
			background-color: white;
			@media (min-width: 992px) {
				&:nth-child(even){
					.wrapper-flex{
						flex-direction: row-reverse;
					}
					.img{
						left: auto;
						right: 0;
					}
				}
			}
		}
	}
}
.aoch-prices{
	padding-top: 75px;
	padding-bottom: 60px;
	text-align: center;
	@media (max-width: 991px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.aoch-prices-content{
	.btn-content{
	}
	.btn-def{
		background-color: white;
		margin-left: 5px;
		margin-right: 5px;
		a{
			color: $color-1;
			@media (min-width: 992px) {
				padding: 15px 80px;
			}
			@media (max-width: 991px) {
				min-width: 280px;
			}
		}
		&:hover{
			box-shadow: none;
			background-color: $color-1;
			a{
				color: white;
			}
		}
	}
}
.short-advantages{
	@media (min-width: 992px){
		padding-bottom: 75px;
	}
	.ghost-text{
		text-transform: uppercase;
		font-size: 100px;
		line-height: 150%;
		display: block;
		font-weight: 900;
		opacity: 0.07;
		margin-bottom: -60px;
		@media (max-width: 991px){
			display: none;
		}
	}
}






//lorem
.article-img{
	img[align="left"]{
		&:first-child{
			@media (min-width: 992px){
				margin-top: 0;
				margin-right: 30px;
			}
		}
	}
}




//reg
.radio-btns{

	input{
		display: none;
		&:checked{
			& ~ label:not([class*="bg-color"]){
				background-color: $color-1;
				color: white; 
			}
		}
	}	
	.btn-def{
		box-shadow:  0 0 15px rgba(black, 0.05);
		margin: 10px 15px;
		@media (min-width: 992px){
			width: 100%;
		}
		text-transform: none;
		&:not([class*="bg-color"]){
			background-color: white;
			color: black;
		}
		.btn-this{
			transition: background-color 0.3s ease;
			padding: 15px 15px;
			color: inherit;
		}
		&:hover{
			background-color: $color-1;
			color: white;
			box-shadow:  0 0 15px rgba(black, 0.05);
			.btn-this{
			}
		}
	}
}



.select-style-1{
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		line-height: 43px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		background-color: transparent;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow b{
			border-color: $color-1 transparent transparent transparent;
	}
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
		border-color: transparent transparent $color-1 transparent;
	}
	.select2-container--default .select2-selection--single{
		height: 43px;
		border-radius: 5px;
		overflow: hidden;
		position: relative;
	}
	.select2-wrapper{
		.select2-dropdown{
			font-size: 0.9em;
			background-color: #333;
		}
		.select2-dropdown .select2-results__option{
			padding: 10px 10px;
			font-weight: 500;
			text-transform: none;
		}
	}
}

.request-premium{
	.img{
		background-size: cover;
		background-position: center;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.flex-adaptive{
		justify-content: space-between;
	}
	label{
		margin-bottom: 5px;
		font-weight: 600;
	}
	select{
		width: 100%;
	}
	@media (max-width: 991px) {
		.js-select{
			margin-left: 0;
			margin-right: 0;
		}
	}
	@extend .select-style-1;
}





//invest
.invest{
	.rect-def{
		@extend .shadow-def;
	}
}



.owl-nav-style{
	.owl-nav{
		display: flex;
		position: relative;
		justify-content: space-between;
		.owl-prev, .owl-next{
			display: flex;
			align-items: center;
		}
		@media (min-width: 992px){
			margin-top: 15px;
		}
		@media (max-width: 991px) {
			padding: 5px 0;
		}
	}
}
.specialists-items{
	.img{
		margin-left: auto;
		margin-right: auto;
		width: 150px;
		height: 150px;
		background-size: cover;
		border-radius: 50%;
		background-color: white;
	}
	figure{
		background-color: white;
		margin-top: 45px;
		margin-bottom: 30px;
		@extend .shadow-def;
		@media (max-width: 991px) {
			margin-bottom: 28px;
		}
	}

	.owl-item:not(.active){
		figure{
			box-shadow: none;
		}
	}
	@extend .owl-nav-style;
	.img{
		margin-top: -40px;
	}
	.desc-content{
		text-align: center;
		padding: 10px 15px;
		p{
			font-size: em(14);
		}
	}
}


.protections{
	.wrapper{
		background-color: white;
		padding: 15px 30px;
		@extend .shadow-def;
		@media (min-width: 992px) {
			padding-bottom: 45px;
		}
		@media (max-width: 991px) {
			padding: 15px 15px;
		}
	}

}




.realty.intro{
	height: 400px;
	@media (max-width: 991px) {
		height: 90vh;
		height: calc(100vh - 70px);
	}
}
.backrect{
	color: black;
	padding: 15px;
	background-color: white;
	position: relative;
	
	@media (min-width: 992px) {
		text-align: left;
		min-width: 380px;
		padding-left: 75px;
	}
	@media (max-width: 991px) {
		text-align: center;
		width: 100%;
	}
	.icm-price-tag-1{
		font-size: 25px;
		color: $color-gray-3;
	}
	.icm{
		font-size: 20px;
		vertical-align: middle;
	}
	.price{
		vertical-align: middle;
		padding-left: 10px;
	}
	h4{
		margin-top: 0;
	}
	.icm-left-arrow-min{
		display: flex;
		align-items: center;
		padding: 5px;
		justify-content: center;
		width: 50px;
		position: absolute;
		left: 0;
		height: 100%;
		top: 0;
		background-color: #f3f3f0;
		@media (max-width: 991px){
			display: none;
		}
	}
}	
.realty-nav{
	background-color: $color-2;
	color: white;
	.container{
		position: relative;
	}
	.flex-adaptive{
		align-items: center;
		font-weight: 700;
		text-transform: uppercase;
		@media (min-width: 992px) {
			height: 60px;

		}
		@media (max-width: 991px) {
			display: block;
			text-align: left;
			padding: 15px 20px;
		}
	}
	.item{
		a{
			display: block;
			transition: opacity 0.3s ease;
			opacity: 0.5;
		}

		&.active{
			a{
				opacity: 1;
			}
		}
		&:hover{
			a{
				opacity: 1;
			}
		}
		@media (max-width: 991px) {
			a{
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
		@media (min-width: 992px) {
			&.share{
				position: absolute;
				right: 15px;
			}
			&:not(:last-child){
				padding-right: 20px;
				margin-right: 25px;
			}
			&:not(:nth-last-child(2)){
				border-right: 1px solid #2a2a2a;
			}
		}
	}

	.icm{
		font-size: 22px;
	}
}

.realty:not(.intro){
	background-color: #fdfdfd;
	.link-content{
		&.flex-adaptive{
			justify-content: space-between;
			align-items: center;
		}
	}
}
.realty-panel{
	background-color: white;
	@extend .shadow-def;
	@media (min-width: 992px){
		.align-center{
			height: 70px;
		}
		.flex-adaptive{
			padding-right: 40px;
		}
		.phone-content{
			margin-left: 30px;
		}
	}
	@media (max-width: 991px) {
		.flex-adaptive{
			padding: 20px 20px;
		}
		.align-center{
			flex-direction: column;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.btn-def{
			width: 100%;
			justify-content: center;
		}
		strong{
			display: block;
		}
	}
	.phone-content{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.btn-def{
		height: 100%;
		align-items: center;
		display: flex;
		a{
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}

	.icm{
		color: #d2d2d2;
		font-size: 18px;
	}
	button{
		@extend .btn-res;
	}
}

.realty-photos-items{
	.img{
		background-size: cover;
	}
	figure{
		&:nth-child(5n+1), &:nth-child(5n+2),  &:nth-child(5n+3){
			@extend .col-md-4;
			.img{
				height: 250px;
			}
		}
		&:nth-child(5n+4), &:nth-child(5n+5){
			@extend .col-md-6;
			.img{
				height: 390px;
			}
		}

	}
}
.btn-save{
	a{
		transition: all 0.3s ease;
		i{
			transition: all 0.3s ease;
		}
		&:hover{
			color: $color-1;
			i{
				color: $color-1;
			}
		}
	}
}





//landlords
.rect-def-chess{
	@media (min-width: 992px) {
		.rect-def{
			.img{
				left: auto;
			}
		}
		.rect-def{
			&:nth-child(even){
				.wrapper-flex{
					flex-direction: row-reverse;
				}
			}
		}
		&.reverse{
			.rect-def{
				&:nth-child(odd){
					.wrapper-flex{
						flex-direction: row-reverse;
					}
				}
				&:nth-child(even){
					.wrapper-flex{
						flex-direction: row;
					}
				}
			}
		}
	}
}
.landlords-items{	
	figure{
		p:not([class*="color"]){
			color: black;
			font-weight: 500;
		}
		h5{
			font-weight: 400;
			color: $color-gray-3;
		}
	}
}
.torent{
	position: relative;
	z-index: 1; 
	@media (min-width: 991px){
		margin-top: -200px;
	}
	.rect-def{
		.wrapper-flex{
			min-height: 270px;
		}
		h4{
			font-weight: 700;
		}
	}
}
.torent-packets{
	@media (min-width: 992px){
		.entry-header{
			margin-top: 80px;
		}
	}
}
.torent-packets-items{
	.boxes-cell{
		@extend .shadow-def;
		text-align: center;
		padding: 15px 30px;
		h3{
			text-transform: uppercase;
		}
	}
}





//whyredd
.short-advantages-items{
	@media (min-width: 992px){
		margin-top: 30px;
		&.boxes-4{
			figure{
    		width: 24.8%;
    		margin-right: 0.2%;
			}
		}
	}
	figure{
		background-color: white;
		color: black;
		padding: 20px 30px;
		min-height: 185px;
		figcaption{
			font-size: em(16);
			margin-top: 20px;
		}
		.wrapper{
			padding: 15px 30px;
			min-height: 200px;
			display: flex;
			align-items: center;
			&>div{
				width: 100%;
			}
		}
		@media (min-width: 992px) {
			text-align: left;
		}
	}
	.img-content{
		display: flex;
		justify-content: space-between; 
		min-height: 70px;
		.icm-img, .num{
			vertical-align: middle;
		}
	}
	.num{
		opacity: 0.1;
		font-weight: 900;
		line-height: 100%;
		font-size: 64px;
	}
}
.icm-img{
	display: inline-block;
}
.icm-advatages-1{
	background-image: url('../img/icons/advantages-1.png');
	width: 70px;
	height: 70px;
}
.icm-advatages-2{
	background-image: url('../img/icons/advantages-2.png');
	width: 66px;
	height: 66px;
}
.icm-advatages-3{
	background-image: url('../img/icons/advantages-3.png');
	width: 68px;
	height: 68px;
}
.icm-advatages-4{
	background-image: url('../img/icons/advantages-4.png');
	width: 70px;
	height: 52px;
}




//premium-sales
.premium-sales{
	@media (min-width: 992px){
		.content{
			margin-top: -180px;
			position: relative;
			z-index: 1;
			.wrapper-flex{
				min-height: 280px;
			}
		}
	}
	.short-news-items{
		.desc-content{

		}
	}
}
.elite{
	background-color: #f5f5f5;
}




//sellhouse
.sellhouse-items{
	h2{
		font-family: $font-family-1;
		font-weight: 700;
		margin-bottom: 30px;
	}
	.wrapper-flex{
		min-height: 320px;
	}
	.rect-def .desc-content{
		padding: 30px 40px;
	}
}
.sellhouse-list{
	.desc-content{
		@extend .shadow-def;
		background-color: white;
		@media (max-width: 991px) {
			padding: 15px;
		}
		@media (min-width: 992px) {
			padding: 40px 40px;
		}
	}
}







//mortgage
.mortgage{
	h2{
		font-family: $font-family-1;		
		background-color: white;
	}
	.flex-adaptive{
		margin-top: 15px;
	}
	.calc-range{
		width: 100%;
		margin-right: 20px;
	}
	.calc-enter{
		input{
			border: none;
			border-radius: 0;
			height: 38px;
			background-color: #f8f8f8;
			color: black;
			font-weight: 800;
		}
	}
	.wrapper{
		padding-bottom: 38px;
		@extend .shadow-def;
		background-color: white;
	}
}
.mortagage-calc{
	h2{
		padding: 0 40px;
		padding-top: 35px;
	}
	form{
		padding: 0px 40px;
		margin-top: 30px;
	}
	h3{
		color: $color-gray-3;
		font-weight: 400;
		margin-bottom: 20px;
		font-size: em(16);
		font-family: $font-family-1;
	}
}
.mortagage-total{
	.wrapper{
		padding: 0;
	}
	.price{
		
	}
	h2{
		padding: 35px 40px;
		@extend .shadow-def;
	}
	.align-center{
		min-height: 200px;
		justify-content: center;
		padding: 20px 15px;
		background-color: #fefefe;
		overflow: hidden;
		position: relative;
	}
	.btn-def{
		width: 100%;
		text-transform: none;
		text-align: center;
		padding: 15px 15px; 
		display: block;
	}
	.fa{
		position: absolute;
		font-size: 120px;
		opacity: 0.1;
		right: 0;
	}
}
.mortgageRate{
	input{
		width: 130px;
		@media (max-width: 991px) {
			margin: auto;
		}
	}
}

#mortgage-table{
	.common-content{
		margin-bottom: 15px;	
		p{
			margin-bottom: 4px;
			font-size: em(15);
			font-weight: 500;
			display: flex;
	    justify-content: space-between;
	    width: 80%;
	    @media (max-width: 991px){
	    	margin-left: auto;
	    	margin-right: auto;
	    }
	    @media (min-width: 992px){
	    	width: 50%;
	    }
		}
	}
}
.mortgage-table{
	td{
		font-weight: 500;
	}
}

html{
	.irs{
		font-family: $font-family-1;
	}
	.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
		background-color: $color-1;
		font-size: 12px;
		line-height: 1;
		padding: 7px 18px;
    border-radius: 15px;
    //box-shadow: 0 0 16px rgba(black, 0.3);
	}
	.irs--flat .irs-bar{
		background-color: $color-1;
	}
	.irs-from, .irs-to, .irs-single{
		top: -14px;
	}
	.irs--flat .irs-min, .irs--flat .irs-max{
		background-color: transparent;
		font-size: 12px;
	}
	.irs--flat .irs-handle{
		width: 20px;
		height: 20px;
		background-color: white;
		border-radius: 50%;
		box-shadow: 0 0 20px rgba(black, 0.5);
		i{
			display: none !important;
		}
	}
}






//cabinet
.cabinet-panel{
	position: fixed;
	top: 100px;
	left: 0;
	z-index: 3;
	transition: all 0.5s ease;
	width: 100%;
	display: flex;
	pointer-events: none;
	*{
		pointer-events: auto;
	}
	@media (max-width: 991px){
		position: relative;
		flex-direction: column;
		top: 0 !important;
		.cabinet-bar{
			width: 100%;
			padding-bottom: 20px;
		}
		.user-menu{
			border-bottom: none;
		}
		.cabinet-header{
			display: none;
		}
	}
}
.cabinet-header{
	width: inherit;
	background-color: white;
	@extend .shadow-def;
	float: left;
	display: flex;
	height: 100px;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	@media (min-width: 992px) {
		padding-left: 45px;
		padding-right: 70px;
	}
	h3{
		font-size: em(22);
		font-weight: 900;
		margin-bottom: 5px;
		text-transform: uppercase;
	}
	.btn-def{
		@media (min-width: 992px){
			margin-left: 30px;
		}
		a, button, .btn-this{
			padding-left: 20px;
			padding-right: 20px;
			font-weight: 500;
		}
	}
	.btn-content{
		@media (max-width: 991px) {
			display: none;
		}
	}
	@media (max-width: 991px) {
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.cabinet-bar{
	width: 23vw;
	float: left;
	color: white;
	//overflow: hidden;
	position: relative;
	background-color: $color-1;
	&:before{
		@extend .clafclear;
		height: 3500px;
		background-color: $color-1;
		@media (max-width: 991px){
			display: none;
		}
	}
}

.p-v-page{
	padding-left: 70px;
	padding-right: 70px;
}
.user-summary{
	text-align: center;
	figure{
		padding: 2vh 5%;
	}
	.img{
		margin: 15px auto;
		width: 120px;
		background-size: cover;
		position: relative;
		height: 120px;
		border: 6px solid white;
		border-radius: 50%;
	}
	.desc-content{
		margin: 15px 0;
		position: relative;
	}
}
.user-menu{
	border-bottom: 1px solid $color-3;
	li{
		a{
			height: 20vh;
			align-items: center;
			display: flex;
			justify-content: center;
			font-size: em(16);
			position: relative;
			&:before{
				@extend .clafclear;
				width: 5px;
				left: 0;
				top: 0;
				background-color: transparent;
			}
			p{
				font-weight: 500;
				margin-top: 13px;
			}
		}
		i{
			text-align: center;
			display: block;
			font-size: 30px;
		}
		&.active{
			a{
				background-color: $color-3;
				&:before{
					background-color: $color-4;
				}
			}
		}
	}
}




.cabinet{
	position: relative;
	overflow: hidden;
	background-color: #fdfdfd;
	@media (min-width: 992px) {
		margin-top: 120px;
	}
}
.cabinet-content{

}
.profile{
	@extend .select-style-1;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 600px;
	@media (min-width: 992px) {
		padding-left: 30px;
		padding-right: 30px;
		margin-left: 19vw;
	}
}
.profile-content{
	@extend .shadow-def;
	margin-top: 60px;
	margin-bottom: 15px;
	padding-bottom: 30px;
	position: relative;
	@media (min-width: 992px) {
		padding: 10px 30px;
	}
	.profile-label{
		top: 0;
		left: 30px;
		transform: translateY(-100%);
		background-color: $color-1;
		padding: 10px 40px;
		font-weight: 600;
		color: white;
		position: absolute;
		@media (max-width: 991px){
			left: 50%;
			transform: translate(-50%, -100%);
		}
	}
	.input-content{
		.flex{
			align-items: center;
			.text-title{
				padding-left: 15px;
				padding-right: 15px;
			}
			@media (min-width: 992px) {
				.text-title, input{
					width: 50%;
				}
			}
			@media (max-width: 991px) {
				flex-direction: column;
			}
		}
	}
	.exmail{
		@media (max-width: 991px){
			.m-h-15{
				display: none;
			}
		}
	}
}

.profile-edit{
	figure{
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 1% 3%;
		background-color: white;
		@extend .shadow-def;
		@media (max-width: 1600px){
			font-size: 0.90em;
		}
		@media (max-width: 991px) {
			padding: 10px 15px;
		}
	}
}



.fav-items{
	margin-top: 30px;
	.rect-def{
		margin-top: 30px;
		margin-bottom: 30px;
		@extend .shadow-def;
		h5{
			font-size: em(16.5);
		}
		.wrapper-flex{
			min-height: 250px;
			overflow: hidden;
		}
		@media (max-width: 991px){
			box-shadow: none; 
		}
		.img-content{
			width: 370px;
			@media (max-width: 991px){
				width: 100%;
			}
		}
		.desc-content{
			//width: inherit;
			position: relative;
			padding: 15px 30px;
			@media (min-width: 992px) {
				width: calc( 100% - 370px );
				h5{
					width: 75%;
				}
			}
		}
		.detail-info{
			color: $color-gray-4;
			.cnt{
				color: $color-1;
				font-weight: 700;
			}
			.icm{
				margin-right: 5px;
			}
			.fig{
				margin-right: 15px; 
			}
		}
		.img{
			//height: 250px;
			background-size: cover;
		}
		.icm-price-tag-1{
			font-size: 25px;
		}
	}
	.summary{
		a{
			color: $color-1;
		}
	}
	.btn-content{
		position: absolute;
		right: 20px;
		top: 25px;
		button{
			@extend .btn-res;
			transition: all 0.3s ease;
			color: $color-gray-4;
			&:hover{
				color: $color-1;
			}
		}
		@media (max-width: 991px) {
			position: relative;
			right: auto;
			top: auto;
			button{
				text-decoration: underline;
			}
		}
	}
}




//apartment
.apartment{
	&.intro{
		@media (min-width: 992px) {
			//height: 600px;
		}
		.apartment-slider-items{
			.img{
				height: 600px;
				background-size: cover;
				@media (max-width: 991px){
					height: 300px;
				}
			}
		}
		.owl-nav{
			background-color: $color-2;
			.icm{
				color: white;
				font-size: 20px;
			}
			padding: 15px 0;
			@media (max-width: 991px){
				.owl-next, .owl-prev{
					vertical-align: middle;
				}
				.owl-next{
					margin-top: -4px;
				}
			}
		}
		@media (min-width: 992px) {
			.owl-carousel{
				.owl-stage{
					transform: none !important;
					height: 600px;
				}
				.owl-item{
					left: 0 !important;
					transition: all 0.8s ease ;
					position: absolute;
					opacity: 0;
					&.active{
						z-index: 1;
						opacity: 1;
					}
				}
				.owl-dots{
					position: absolute;
					width: 100%;
					text-align: center;
					bottom: 0;
					top: auto;
					.owl-dot{
						width: 100px;
						height: 15px;
						border-radius: 0;
						background-color: rgba(white, 0.6);
						&.active{
							background-color: $color-1;
						}
					}
				}
			}
		}

	}
	.intro-media{
		position: relative;
	}
	.intro-content{
		position: absolute;
		top: 0;
		&, .align-i-center{
			pointer-events: none;
			*{
				pointer-events: auto;
			}
			align-items: flex-start;
			.backrect{
				@media (min-width: 992px) {
					margin-top: 50px;
				}
			}
		}
	}
}
.apartment-detail{
	figure{
		background-color: white;
		box-shadow: 0 0 30px rgba(black, 0.1);
		padding: 5px 10px;
		font-size: 0.95em;
		white-space: nowrap;
	}
	color: $color-gray-4;
	.cnt{
		color: $color-1;
		font-weight: 700;
		vertical-align: middle;
	}
	.icm{
		margin-right: 5px;
	}
	.fig{
		margin-right: 15px; 
	}
}
.apartment-content{
	h4{
		font-weight: 800;
		text-transform: uppercase;
	}
	.list-content{
		background-color: white;
		padding: 15px 5%;
		padding-bottom: 30px;
		@extend .shadow-def;
		ul{
			padding-left: 0;
		}
	}
	.entry-header{
	}
	@media (min-width: 992px) {
		h4{
			padding-left: 10px;
			border-left: 5px solid $color-1;
		}
	}
}
.apertment-scheme{
	.img-content{

	}
	.img{
		background-size: cover;
		height: 300px;
	}
}
.map-location{
	height: 300px;
}
.map-apartment{
	height: 320px;
	.mapblock{
		font-size: 0.9em;
	}
}


//ouroffices
.ouroffices{
	.map-content{
		position: relative;
		@media (min-width: 992px){
			padding-bottom: 50px;
		}
	}

}
.map-ouroffices{
	height: 600px;
	@media (max-width: 991px){
		height: 350px;
	}
}
.ouroffices-items{
	width: 370px;
	position: absolute;
	.boxes-cell{
		@extend .shadow-def;
		background-color: white;
		padding: 20px 40px;
		transition: all 0.3s ease;
		backface-visibility: hidden;
		&:hover{
			cursor: pointer;
		}
		&.is-selected{
			transform: scale(0.95);
		}
	}
	@media (min-width: 992px){
		max-height: 670px;
		top: 50px;
		right: 0;
		overflow-y: auto;
	}
	@media (max-width: 991px) {
		width: 100%;
		position: relative;
	}
}

.howmuch{
	background-image: url(../img/other/other-2.jpg);
	background-position: center;
	min-height: 360px;
	background-repeat: no-repeat;
	h1{
		font-weight: 800;
	}
	h2{
		font-weight: 600;
	}
}





//beside
.beside-content{

}
.beside-nav{
	a{
		background-color: $color-gray-1;
		border-radius: 10px;
		font-size: em(13.5);
		font-weight: 500;
		color: $color-gray-3;
		transition: all 0.3s ease;
		padding: 5px 15px;
	}
	li{
		margin-top: 10px;
		margin-bottom: 10px;
		&.active{
			a{
				background-color: $color-1;
				color: white;
			}
		}
	}
}
.map-beside{
	height: 500px;
	@media (max-width: 991px){
		height: 350px;
	}
}
.beside-content{
	.list-info-wrapper{
		background-color: white;
		padding: 10px 20px;
		@extend .shadow-def;
		@media (min-width: 992px) {
			margin-top: 48px;
			min-height: 500px;
		}
	}
	.list{
		overflow-y: auto;
		max-height: 400px;
		text-align: left;
		li{
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}
.circleradius-input{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	width: 200px;
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	input{
		padding: 5px 10px;
		height: 33px !important;
		box-shadow: 0 0 15px -2px rgba(black, 0.5);
	}
	p{
		font-weight: 600;
		margin-right: 15px;
	}
}



.nav-style-1{
	@extend .list-inline;
	li{
		display: inline-block;
		a{
			padding: 5px 10px;
			background-color: $color-gray-2;
			border-radius: 30px;
			color: $color-gray-3;
			font-weight: 500;
			font-size: em(14);
			display: inline-block;
			transition: all 0.3s ease;
		}
		&.active{
			a{
				background-color: $color-1;
				color: white;
			}
		}
		@media (max-width: 991px){
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

//charts
.charts{
	z-index: 1;
	position: relative;
	margin-top: -600px;
	.wrapper{
		background-color: white;
		padding: 15px 30px;
	}
	@media (max-width: 991px) {
		margin-top: -670px;
	}
}
.chart-wrapper{
	.entry-header{
		text-align: center;
	}
	.nav-style-1{
		margin-top: 15px;
		margin-bottom: 30px;
		a{
			min-width: 150px;
		}
	}
	.tab-content{
		position: relative;
		height: 250px;
		.chart-div{
			&.active{
				pointer-events: auto;
				opacity: 1;
			}
		}
	}
}
.charts-intro{
	height: 900px;
	.align-i-center{
		align-items: flex-start;
	}
}
.chart-title{
	text-align: center;
}
.chart-div{
	display: block;
	width: 100%; 
	pointer-events: none;
	height: inherit;
	position: absolute;
	opacity: 0;
	top: 0;
	transition: all 1s ease;
}
.chart-result{
	.wrapper{
		@media (min-width: 992px) {
			min-height: 433px;
		}
	}
}
.chart-result-accordion{
	.panel-body{
		font-size: 0.9em;
	}
	.accordion-def .panel-default .panel-title a{
		padding: 10px 10px;
		padding-right: 35px;
		font-size: 0.9em;
	}
	.accordion-def .panel-default .panel-heading{
		background-color: transparent;
		border-radius: 0;
	}
	.accordion-def .panel-default .panel-heading .fa{
	  top: 15px;
	  right: 7px;
	}
}
.helplink{
	.item-wrapper{
		padding: 15px 30px;
		background-color: white;
		@extend .shadow-def;
		height: 285px;
		overflow: hidden;
		position: relative;
	}
	.btn-def{
		a{
			padding: 12px 15px;
		}
		.icm{
			margin-right: 15px;
		}
		@media (min-width: 992px){
			margin-top: 30px;
		}
	}
	.item{
		&:nth-child(2){
			text-align: center;
			.item-wrapper{
				padding-top: 30px;
				.link{
					display: block;
					width: 100%;
					left: 0;
				}
			}
		}
	}
	h2{
		text-transform: uppercase;
		font-family: $font-family-1;
	}
	.link{
    text-transform: uppercase;
    color: $color-1;
    display: inline-block;
    padding: 23px 0;
    position: absolute;
    bottom: 0;
    //width: calc(100% - 30px);
    //left: 15px;
    background-color: white;

	}
}
.chart-items{
	@extend .shadow-def;
}





.rent{

	.map-beside{
		height: 80vh;
		height: calc(100vh - 100px);
	}
	.select2-selection__rendered{
		font-weight: 500;
		font-size: 12px;
		color: #999999 !important;
	}
	.select2-container--default .select2-selection--single{
		border-radius: 5px;
		.select2-selection__arrow{
			background-color: transparent;
			b{
				border-top-color: $color-1;
			}
		}
	}
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
		border-bottom-color: $color-1;
	}
	.select2-dropdown{
		font-size: 0.9em;
		background-color: white;
		@extend .shadow-def;
		.select2-results__option{
			color: $color-2;
			font-family: $font-family-2;
			font-weight: 600;
			padding: 7px 20px;
			&:nth-child(1){
				//display: none;
			}
		}
	}
	.checkbox-content{
		margin-top: 10px;
		margin-bottom: 10px;
		.flex{
			//justify-content: space-between;
			font-size: 0.85em;
		}
		.checkbox-style-1{
			margin-left: 0;
			min-width: 18px;
			&:before{
				width: 18px;
				height: 18px;
			}
		}
		.checkbox-title{
			padding-left: 10px;
		}
	}
	.typebeside{
		.typebeside-wrapper{
			display: flex;
			align-items: center;
			font-size: 0.9em;
			width: 100%;
			&>div{
				width: 100%;
				padding-right: 5px;
				padding-left: 5px;
			}
		}
		.radio-content{
			white-space: nowrap;
			input, label{
				vertical-align: middle;
			}
			label{
				background-color: $color-gray-2;
				border-radius: 15px;
				text-align: center;
				padding: 5px 10px;
				&:hover{
					cursor: pointer;
				}
			}
			input{
				&:checked{
					&~label{
						background-color: $color-1;
						color: white;
					}
				}
			}
		}

	}
}
.rent-bar{
	min-width: 475px;
	width: 30%;
	padding: 30px; 
	transition: all 0.3s ease;
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100vh - 100px);
	h3{
		text-align: center;
		text-transform: uppercase;
	}
	background-color: white;
	input.form-control{
		height: 35px;
		font-size: 12px;
	}
	.input-content{
	}
}

.rent-wrapper{
	display: flex;
}
.rent-header{
	display: flex;
	align-items: center;
  position: relative;
  z-index: 1;
  @extend .shadow-def;
  width: 100%;
  background-color: white;
  height: 100px;
  .js-select{
  	width: 250px;
  	max-width: 250px;
  }
  .select2{
  	width: 250px;
  }
  .flex-adaptive{
		align-items: center;
  }
  .rent-header-info{
  	.cnt-rent{
  		font-weight: 600;
  		color: $color-1;
  	}
  	small{
  		color: $color-1;
  		text-decoration: underline;
  		font-weight: 700;
  	}
  }
}
.ymaps-2-1-74-graphics-SVG svg path{
	transition: opacity 0.3s ease,
							fill 0.3s ease,
							transform 0s ease !important;
}
.rent-items{
	
}

[data-reconstruction]{
	.btn-change{
		position: absolute;
		width: 45px;
		height: 45px;
		box-shadow: 0 0 50px 0px rgba(black, 0.2);
		@extend .trans-v-center;
		right: -23px;
		color: $color-1;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    &:hover{
    	background-color: $color-1;
    	color: white;
    }
	}
}
[data-reconstruction="def"]{
	.rent-items, .rent-header, .btn-change{
		display: none;
	}
	.rent-wrapper{
		
	}
	.rent-map{
		width: 70%;
		.map{
			height: 80vh;
			height: calc(100vh - 100px);
		}
	}
}
[data-reconstruction="off"], [data-reconstruction="on"]{
	.rent-wrapper{
		display: flex;
		flex-wrap: wrap;
	}
	.rent-bar{
		display: none;
	}
	.rent-map{
		width: 35%;
		.map{
			//margin-top: 100px;
			height: 75vh;
			height: calc(100vh - 200px);
			width: 100%;
		}
	}
	.rent-items{
		width: 65%;
		padding-left: 30px;
		padding-right: 30px;
    overflow-y: auto;
		.fav-items{
    	height: 80vh;
    	height: calc(100vh - 230px);
    	margin-top: 0;
		}
	}
}
[data-reconstruction="on"]{
	.rent-map{
		width: 75%;
	}
	.rent-items{
		width: 25%;
		.wrapper-flex{
			flex-direction: column;
			.img-content{
				width: 100%;
			}
			.img{
				height: 250px;
				position: relative;
			}
			.desc-content{
				width: 100%;
				.btn-content, .summary, hr{
					display: none;
				}
			}
		}
	}
	.btn-change{
		.fa{
			transform: rotate(180deg) translateX(2px);
			&:before{
				display: inline-block;
			}
		}
	}
}
#ymap_ctrl_display{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(black, 0.5);
	z-index: 100;
	pointer-events: none;
	div{
		position: relative;
		top: 50%;
		left: 0;
		right: 0;
		color: white;
		text-align: center;
		font-size: 1.8em;
		pointer-events: none;
	}
}