/*
	_content.css
*/
.icm{
	vertical-align: middle;
}
.icon{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.img-icon{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}



small{
	font-size: 85%;
}

.hr-style-1{
	height: 2px;
	width: 100%;
	margin-top: 30px;
	position: relative;
	margin-bottom: 30px;
	background-color: $color-1;
	&:before{
		@extend .clafclear;
		width: 40%;
		top: 50%;
		background-color: $color-1;
		height: 6px;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.link-style-1{
	a{
		color: $color-1;
		font-weight: 600;
		text-transform: uppercase;
		text-shadow: 0 0 3px rgba($color-1, 0.5);
	}
}
.fa-star{
	color: #cfcfcf;
	&.fill{
		color: $color-1;
	}
}
.fa-star-o{
	color: #cfcfcf;
	&.fill, &:hover{
		color: $color-1;
	}
}
.p-v-md{
	@media (min-width: 991px){
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.entry-header{
	p{
		line-height: 170%;
	}
	b{
		font-weight: 900;
	}
	@extend .h2-style-1;

	@media (min-width: 992px) {
		h1{
			position: relative;
		}
	}
}
.h1-style-1{
	h1:not(.no-style){
		&:before{
			@extend .clafclear;
			width: 85px;
			height: 2px;
			background-image: $gradient-1;
			bottom: 0;
			@media (max-width: 991px){
				display: none;
			}
		}
		@media (min-width: 992px){
			padding-bottom: 20px;
		}
	}
	@media (max-width: 991px) {
		h1{
			&:before{
				display: none;
			}
		}
	}
	&.text-center{
		h1{
			&:before{
				@extend .trans-h-center;
			}
		}
	}
	&.text-right{
		h1{
			&:before{
				left: auto;
				right: 0;
			}
		}
	}
}

.h2-style-1{
	h2{
		border-left: 5px solid $color-1;
		padding-left: 15px;
		text-transform: uppercase;
		font-weight: 800;
	}
}
.h2-style-2{
	h2:not(.no-style){
		text-transform: uppercase;
		&:before{
			@extend .clafclear;
			width: 40px;
			height: 5px;
			background-color: $color-1;
			bottom: 0;
			@media (max-width: 991px){
				display: none;
			}
		}
		@media (min-width: 992px){
			padding-bottom: 20px;
		}
	}
	@media (max-width: 991px) {
		h2{
			&:before{
				display: none;
			}
		}
	}
	&.text-center{
		h2{
			&:before{
				@extend .trans-h-center;
			}
		}
	}
	&.text-right{
		h2{
			&:before{
				left: auto;
				right: 0;
			}
		}
	}

}
.bg-shadow{
	pointer-events: none;
}


figcaption{
	margin-top: 15px;
	font-size: em(16);
	line-height: 135%;
	font-weight: 700;
	margin-bottom: 10px;
}

.bg-body{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg/bg-body.jpg');
	background-color: white;
	background-repeat: repeat-y;
	//display: none;
	z-index: -1;
	pointer-events: none;
	//animation: bodyanime 900s linear infinite;
	background-position: center -100px;
}

.bg-dotswave{
	background-image: url('../img/bg/bg-dotswave.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
}





//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
	&.bnr-article{

		.bnr-carousel{
			figure{
				height: 430px;
			}
			.carousel-content{
				.align-i-center{
					.btn-content{
						.btn-def{
							display: none;
						}
					}
					height: 430px;
				}
			}
		}

	}
}





.bnr-carousel{
	$slider-height: 980px;
	background-color: white;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	background-position: center center;
	figure{
		overflow: hidden;
		height: $slider-height;
		transition: all 1.8s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    transform: scale(1.2);
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			&:before{
				//background-position: 0;
			}
			.img{
				filter: blur(0);
				transform: scale(1);
			}
		}
	}
	figure{
		h1, p, img, .btn-def, .btn-opacity{
			opacity: 0;
			transition: 1s ease;
		}
		h1{
			font-size: em(56);
			font-family: $font-family-2;
			transform: matrix(1,0,0,1,0,-7);
			@media (max-width: 991px) {
				font-size: em(26);
			}
		}
		p{
			font-size: em(18);
			font-weight: 300;
		}
		p, img{
			transform: translateY(20px);	
		}
	}
	.text-content{
		@media (min-width: 992px) {
			margin-top: -80px;
		}
	}
	.is-selected{
		h1, p, .btn-def, .btn-opacity, img, .img-product{
			transform: scale(1);
			//text-shadow: 0px 0px 0px white;
			opacity: 1;
		}
	}
	.flickity-slider{
		transform: inherit !important;
	}
	.container-arrows{
    //@extend .container;
    @extend .trans-h-center;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    padding-bottom: 30px;
    justify-content: space-between;
    pointer-events: none;
    *{
    	pointer-events: auto;
    }
    .flickity-prev-next-button{
    	display: inline-block;
    	position: relative;
    	left: auto;
    	right: auto;
    	background-color: white;
    	border-radius: 0;
    	height: 100px;
    	clip-path: polygon(0 0, 0% 100%, 100% 50%);
  		.arrow{
  			fill: $color-1;
  		}
    	&.previous{
    		.arrow{
    			transform: scale(1.2) translateX(-25%);
    			transform-origin: center;
    		}
    	}
    	&.next{
    		clip-path: polygon(100% 0, 0 50%, 100% 100%);
    		.arrow{
    			transform: scale(1.2) translateX(25%) rotate(180deg);
    			transform-origin: center;
    		}
    	}

    }
    @media (max-width: 991px) {
    	//justify-content: center;
    }
	}
	.carousel-content{
		position: relative;
		.align-i-center{
			height: $slider-height;
		}
		@media (max-width: 991px) {
			.align-i-center{
				height: 90vh;
				margin-top: 30px;
			}
		}
		@media (min-width: 992px) {

		}
		
	}
	.bg-shadow{
		pointer-events: none;
		//display: none;
		background-color: rgba(black, 0.5);
		//background: linear-gradient(to bottom, transparent, $color-2);
		@media (max-width: 991px) {
			background-color: rgba(black, 0.6);
		}
	}


	//Навигация
	.flickity-page-dots, .flickity-dots-1 .flickity-page-dots{
		//@extend .container;
		//@extend .trans-h-center;
		//left: auto !important;
		width: auto;
		bottom: 0;
		text-align: center;
		display: flex;
		align-items: center;
		padding: 0 15px;
		margin-bottom: 0 !important;
		text-align: right;
		pointer-events: none;
		*{
			pointer-events: auto;
		}
		li{
			pointer-events: auto;
			background-color: white;
			border-color: white;
			opacity: 0.5;
			margin-top:  5px;
			margin-bottom: 5px;
    	&.is-selected{
    		opacity: 1;
    	}
		}
	}
	@media (min-width: 992px) {
		
	}
	@media (max-width: 991px) {
		p{
			display: none;
		}
		figure{
			height: 100vh;
			.img{
				height: 100vh;
			}
		}
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
		.flickity-page-dots{
			top: auto;
			height: auto;
			text-align: center;
			li{
				width: 15px;
				height: 15px;
				margin: 0 12px 0 12px;
				display: inline-block;
				border: 1px solid white;
				background-color: transparent;
				&.is-selected{
					border: none;
				}
			}
		}
		.container-arrows{
			width: 100%;
		}

	}
	@media (min-width: 992px) {
		.bnr-phone{
			display: none;
		}
	}
	@media ( max-width:370px ) {
		word-wrap: break-word;
	}

}
.bnr-footer{
	//@extend .trans-h-center;
	left: 0;
	z-index: 1;
	width: 100%;
	color: white;
	position: absolute;
	bottom: 15px;
	.icm{
		font-size: 65px;
	}
	.wrapper{
		padding: 15px 15px 30px 15px;	
	}
	@media (max-width: 991px) {
		color: black;
		position: relative;
		bottom: 0;
		padding-top: 30px;
		.icm{
			color: $color-1;
		}
	}
}





.intro{
	position: relative;
	z-index: 1;
	@media (max-width: 991px) {
		height: auto;
	}
	@media (min-width: 992px) {
		.intro-content{
			padding-top: 100px;
		}
	}
	.intro-content{
		position: relative;
		width: 100%;
		height: 100%;
		color: white;
		z-index: 1;
		text-align: center;
		align-items: center;
		.align-i-center{
			height: 100%;
		}
	}
	.entry-content{
		@media (min-width: 992px) {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.intro-media{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.img{
			//filter: brightness(60%);
			height: 100%;
			background-size: cover;
		}
	}
}
.intro-footer{
	position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: left;
  figure{
  	display: inline-block;
  	&:nth-child(1){
  		margin-right: 30px;
  	}
  	.icm{
  		border-radius: 50%;
  		padding: 12px;
  		border: 1px solid white;
  		font-size: 22px;
  	}
  	.info-content{
  		font-size: em(18);
  		b{
  			font-size: em(22);
  		}
  	}
  }
  @media (max-width: 991px) {
  	display: none;
  }
}







.main.intro{
	height: 1080px;
	.ghost-text{
		text-align: center;
		font-size: 48px;
		display: block;
		margin-top: 50px;
		opacity: 0.2;
		letter-spacing: 30px;
		p{
			padding-bottom: 20px;
		}
		text-transform: uppercase;
		b{
			font-weight: 900;
			font-size: 84px;
		}
		@media (max-width: 991px) {
			display: none;
		}
	}
	.slogan{
		text-transform: uppercase;
		margin-top: 60px;
		margin-bottom: 60px;
		h2{
			font-weight: 400;
		}
		h1{
			font-weight: 900;
		}
	}
	@media (max-width: 991px) {
		height: 100vh;
		padding-top: 80px;
		.slogan{
			display: none;
		}
	}
}





.typels{
	text-align: center;
	display: flex;
	justify-content: center;
	figure{
		backface-visibility: hidden;
		display: inline-block;
		margin-top: 15px;
		width: 170px;
		margin-bottom: 15px;
		padding: 0 15px;
	}
	.icm{
		font-size: 40px;
	}
	@media (max-width: 991px) {
		figcaption{
			display: none;
		}
	}
}
.typels-content{
	.search-content{
		justify-content: center;
		display: flex;
	}
	.input-search{
		position: relative;
		height: 60px;
		width: 730px;
		input{
			padding-right: 95px;
			padding-left: 30px;
			width: 100%;
			background-color: rgba(white, 0.5);
			border: 0;
			height: 100%;
			font-weight: 600;
			@include placeholder-color( black );
		}
		.btn-loupe{
			background-color: #1c1c1c;
			color: white;
			height: 100%;
			width: 70px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 24px;
			position: absolute;
			box-shadow: 0 0 20px rgba(black, 0.8);
			right: 0;
			top: 0;
		}
	}
	select{
		@media (max-width: 991px) {
			min-width: 120px;
			font-size: 15px;
		}
		@media (min-width: 992px) {
			min-width: 170px;
		}
	}
	.gotomap-links{
		li{
			display: inline-block;
		}
	}
	.select2-container--default .select2-selection--single{
		height: 60px;
		border: none;
		background-color: $color-2;
		display: flex;
		align-items: center;
		font-weight: 700;
		text-transform: uppercase;
		padding: 15px 20px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		line-height: 100%;
		color: white;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		background-color: $color-2;
	}
}

.select2-dropdown{
	background-color: $color-2;
	border: none;
	color: white;
	.select2-results__option--highlighted[aria-selected]{
		color: white !important;
		background-color: black !important;
	}
	.select2-results__option{
		padding: 15px 30px;
		background-color: transparent !important;
		color: white;
		font-weight: 700;
		text-transform: uppercase;
	}
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	width: 35px;
}








//content



//.short-news{
.short-news{
	overflow: hidden;
	position: relative;
	background-color: $color-gray-2;
	.ghost-text{
		text-transform: uppercase;
		position: absolute;
		font-size: 246px;
		line-height: 150%;
		font-weight: 900;
		top: -100px;
		left: 0;
		opacity: 0.1;
	}
	@media (min-width: 992px) {
		padding-top: 100px;
	}
	.container{
		position: relative;
	}
	.owl-carousel .owl-stage-outer{
		overflow: visible;
	}
	.owl-item{
		opacity: 0.3;
		transition: all 0.3s ease;
		&.active{
			opacity: 1;
		}
	}
	.owl-prev, .owl-next{
		display: flex !important;
    align-items: center !important;
    &:hover{
    	color: $color-1 !important;
    }
	}
	.owl-nav{
		margin: 30px 0;
		position: relative;
		justify-content: space-between;
    display: flex;
    font-size: 20px;
	}
	.owl-btn-t{
		font-size: 12px;
	}
}
.short-news-items{
	.img-content{
		overflow: hidden;
		position: relative;
	}
	.recmd{
		background-color: #39ae05;
		color: white;
		padding: 15px 20px;
		width: 200px;
		text-align: center;
		display: inline-block;
		transform: rotate(-45deg);
		transform-origin: 50% 100px;
		position: absolute;
		left: 0;
		top: 0;
	}
	.img{
		height: 340px;
		background-size: cover;
	}
	.desc-content{
		background-color: white;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		padding: 10px 20px;
		position: relative;
		@media (min-width: 992px) {
			margin-top: -30px;
		}
	}
	.detail-info{
		display: flex;
		margin-left: -10px;
		margin-right: -10px;
		.color-1{
			font-weight: 800;
		}
		.va-middle{
			padding-left: 10px;
			padding-right: 10px;
			color: $color-gray-4;
			@media (min-width: 992px) {
				white-space: nowrap;
			}
		}
		.icm{
			margin-right: 10px;
		}
	}
}
.price{
	font-weight: 800;
	color: $color-1;
	font-size: em(26);
}




//short-about
.short-about{
	background-image: url('../img/bg/bg-columns.jpg');
	background-position: center;
	h3{
		font-weight: 500;
		font-size: em(26);
	}
	@media (min-width: 992px) {
		.entry-header{
			margin-bottom: 70px;
		}
	}
	p{
		color: black;
		margin-bottom: 15px;
	}
	.link-content{
		font-weight: 700;
		text-transform: uppercase;
		color: $color-1;
	}
}







//team
.team{
	&.intro{
		height: 1080px;
		.intro-media .img{
			height: 100%;
		}
		@media (max-width: 991px) {
			height: 210px;
			.intro-media .img{
				height: 210px;
			}
			.intro-content{
				display: none;
			}
		}
	}
	.desc-img{
		position: absolute;
		color: black;
		width: 100%;
		display: flex;
		justify-content: center;
		bottom: 30px;
		text-align: left;
		.container{

		}
		h3{
			font-weight: 500;
			width: 50%;
		}
	}
}
.team-main{
  z-index: 1;
  position: relative;
	.img-content{
		z-index: 1;
		position: relative;
		img{
			width: 100%;
		}
		.img{
			position: relative;
			&:before{
				@extend .clafclear;
				width: 60px;
				background-color: $color-1;
				height: 50%;
				z-index: -1;
				right: -10px;
				top: -8px;
			}
		}
	}
	.desc-content{
		padding: 60px 70px 30px 50px;
		position: relative;
		&:before{
			@extend .clafclear;
			@extend .shadow-def;
			background-color: white;
			top: 0;
			left: 0;
			width: 125%;
			left: -25%;
		}
		@media (min-width: 992px) {
			margin-top: -100px;
		}
		@media (max-width: 991px) {
			padding: 25px 15px;
		}
	}
}


.team-staff{
	@media (min-width: 991px){
		margin-bottom: 120px;
	}
}
.team-items{
	.desc-content{
		position: absolute;
		left: 0;
		bottom: 30px;
		background-color: $color-1;
		color: white;
		width: 90%;
		padding: 10px 30px;
	}
	.img-content{
		overflow: hidden;
	}
	.img{
		background-size: cover;
		transition: all 0.3s ease;
		height: 350px;
		backface-visibility: hidden;
	}
	figure{
		position: relative;
		&:hover{
			.img{
				transform: scale(1.07) rotate(5deg);
			}
		}
	}

}


//guidebuy
.guidebuy{
	&.intro{
		height: 400px;
		.img{
			height: 400px;
		}
		h2{
			text-transform: uppercase;
			font-size: em(28);
			font-weight: 800;
		}
		p{
			font-size: em(16);
		}
	}
	.align-i-center{
		height: 100%;
	}
}
.guidebuy-items{
	figure{
		counter-increment: carousel-cell;
		display: flex;
		align-items: center;
		margin-left: -15px;
		margin-right: -15px;
		&:after{
			content: '0' counter(carousel-cell);
			font-weight: 900;
			width: 50%;
			font-size: 270px;
			opacity: 0.1;
			text-align: center;
			padding-left: 15px;
			padding-right: 15px;
			justify-content: center;
		}
		&:nth-child(9) ~ *{
			&:after{
				content: counter(carousel-cell);
			}
		}
		@media (min-width: 992px) {

			&:nth-child(even){
				flex-direction: row-reverse;
				.wrapper-flex{
					&:before{
						right: auto;
						left: -16px;
					}
					&:after{
						right: auto;
						left: -21px;
					}
				}
			}
			&:nth-last-child(1){
				width: 100%;
				.img-content{
					width: 53.5%;
					position: relative;
					&:before{
						content: " ";
						height: 100%;
						width: 100%;
						position: absolute;
						right: 0;
						transform: translate(28px, -15px);
						width: 60px;
						height: 60px;
						z-index: -1;
						background-color: $color-1;
						border-radius: 50%;
					}
				}
				.desc-content{
					width: 50%;
					padding-left: 60px;
					padding-right: 60px;
				}
				.img{
					width: 100%;
				}
				.wrapper{
					padding-left: 0;
					padding-right: 0;
					width: 100%;
				}
				&:after, &:before, .wrapper-flex:before, .wrapper-flex:after{
					display: none;
				}
			}
		}
		&:nth-last-child(1){
			&:after{
				display: none;
			}
		}
	}
	.wrapper{
		padding-left: 15px;
		padding-right: 15px;
		width: 50%;
	}
	.wrapper-flex{
		@extend .shadow-def;
		display: flex;
		background-color: white;
		align-items: center;
		position: relative;
		&:before{
			@extend .clafclear;
			height: calc(100% + 30px);
			width: 3px;
			right: -17px;
			top: 0;
			background-color: $color-1;
		}
		&:after{
			@extend .clafclear;
			@extend .trans-v-center;
			top: 0;
			width: 13px;
			height: 13px;
			background-color: $color-1;
			border-radius: 50%;
			right: -22px;
		}
	}
	.img{
		height: 386px;
		width: 270px;
		//min-width: 270px;
		background-size: cover;
	}
	.desc-content{
		padding: 20px 20px;
		position: relative;
	}
	h4{
		color: $color-1;
	}
	@media (max-width: 991px) {
		figure{
			flex-direction: column-reverse;
			&:after{
				width: 100%;
				font-size: 90px;
			}
			&:before, .wrapper-flex:before, .wrapper-flex:after{
				display: none;
			}
			.wrapper-flex{
				display: block;
			}
			.wrapper{
				width: 100%;
			}
			.img-content{
				width: 100%;
			}
			.img{
				height: 200px;
				width: 100%;
			}
		}
	}
}








//studhotel

.studhotel{
	.studhotel-feed{
		.img-content{
			min-height: 386px;
		}
		.img{
			height: 386px;
			background-size: cover;
		}
		.rect-def{
			@extend .shadow-def;
		}

	}
}
.p-min{
	p{
		font-size: em(14);
		line-height: 155%;
	}
}
.rect-def{
	.wrapper-flex{
		display: flex;
		align-items: center;
	}
	.img-content, .desc-content{
		width: 50%;
	}
	.desc-content{
		padding: 30px 60px;
	}
	@media (max-width: 991px) {
		.wrapper-flex{
			flex-direction: column;
		}
		.img-content, .desc-content{
			width: 100%;
		}
		.desc-content{
			padding: 15px 15px;
		}
	}
}


.studhotel-advantages{
	figure{
		color: $color-1;
		box-shadow: 0 0 45px -35px rgba(black, 0.8);
		padding: 40px 20px;
		transition: all 0.4s ease;
		background-color: white;
		&:hover{
			background-color: $color-1;
			color: white;
		}
		@media (min-width: 992px){
			&:not(:nth-last-child(1)){
				border-right: 1px solid #efefef;
			}
		}
	}
	.img-content{
		height: 80px;
	}
	.icm{
		font-size: 70px;
	}
}

.studhotel-search{
	background-image: url('../img/other/studhotel-search.jpg');
	background-size: cover;
}


//studhotel-article
.studhotel-article{
	&.intro{
		//height: 980px;
		@media (max-width: 991px){
			height: auto;
		}
	}
	.form-content{
		background-color: white;
		padding: 15px 7%; 
	}
	@media (min-width: 992px) {

		.entry-content, .form-content{
			margin-top: 80px;
			margin-bottom: 80px;
		}
	}
	.input-content{
		position: relative;
		.ui-datepicker-trigger {
			bottom: 0;
		  border: 0;
		  right: 15px;
		  position: absolute;
		  background-color: transparent;
		  padding: 8px 15px;
		  color: black; 
		}
	}
}




//reviews
.intro-reviews{
	@media (min-width: 992px) {
		height: 800px;
		.align-i-center{
			padding-bottom: 70px;
		}
	}
}
.reviews{
	position: relative;
	z-index: 1;
	@media (min-width: 992px) {
		margin-top: -200px;
	}
}
.reviews-items{

	.img-content{
		overflow: hidden;
		position: relative;
	}
	.hover-content{
		&:hover{
			.img{
				transform: scale(1.05);
			}
		}
	}
	.img{
		@media (min-width: 1600px){
			height: 400px;
		}
		height: 300px;
		transition: all 0.3s ease;
		backface-visibility: hidden;
		background-size: cover;
		@media (max-width: 991px) {
			
		}
	}
	.cell-hover{
		align-items: flex-end;
		padding: 15px 20px;
		@media (min-width: 1600px){
			padding: 40px 50px;
		}
		@media (max-width: 991px){
			align-items: center;
			font-size: em(12);
		}
	}
}


//helprent
.helprent{
	.btn-def{
		font-size: 0.9em;
	}
}
.accordion-def{
	@media (min-width: 992px) {
		margin-top: 90px;
	}
	.panel-default{
		margin-top: 0;
		margin-bottom: 0;
		border: none;
		.panel-heading{
			background-color: #f0f0f0;
			//padding: 15px 30px;
			padding: 0;
			border: 1px solid transparent;
			transition: 0.3s;
			&:hover{
				border-color: $color-1;
			}
			.fa{
				padding-left: 10px;
				padding-right: 10px;
				vertical-align: middle;
				color: $color-1;
				position: absolute;
    		right: 14px;
    		top: 20px;
			}
		}
		.panel-body{
			border-top: none !important;
		}
		.panel-title{
			a{
				transition: all 0.3s ease;
				display: block;
				padding: 17px 40px 17px 30px;
			}
			a[aria-expanded="true"]{
				color: $color-2;
				.fa{
					transform-origin: center;
					transform: rotate(180deg);
				}
			}
		}
		.panel-body{
			padding: 15px 30px;
		}

	}
}




.request{	
	.form-content{
		background-color: white;
		padding: 30px 60px;
		@media (max-width: 991px) {
			padding: 10px 15px;
		}
	}
	@media (min-width: 992px) {
		height: 980px;
	}
}




//faq
.faq-nav{
	a{
		color: $color-1;
		border: 1px solid $color-gray-2;
		font-weight: 700;
		padding: 15px 30px !important;
		background-color: white;
	}
	li{
		&.active{
			a{
				background-color: $color-1;
				color: white;
			}
		}
		&:hover{
			a{
				background-color: $color-1;
				color: white;
			}
		}
	}
}






//advantages-ofchoose
.advantages-ofchoose{
	background-image: url('../img/bg/degline.jpg');
	background-position: bottom;
	background-repeat: repeat-x;
	.items{
		@extend .shadow-def;
		.img{
			height: 280px;
		}
		figure{
			background-color: white;
			@media (min-width: 992px) {
				&:nth-child(even){
					.wrapper-flex{
						flex-direction: row-reverse;
					}
				}
			}
		}
	}
}
.aoch-prices{
	padding-top: 75px;
	padding-bottom: 60px;
	text-align: center;
	@media (max-width: 991px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.aoch-prices-content{
	.btn-content{
	}
	.btn-def{
		background-color: white;
		margin-left: 5px;
		margin-right: 5px;
		a{
			color: $color-1;
			@media (min-width: 992px) {
				padding: 15px 80px;
			}
			@media (max-width: 991px) {
				min-width: 280px;
			}
		}
		&:hover{
			box-shadow: none;
			background-color: $color-1;
			a{
				color: white;
			}
		}
	}
}
.short-advantages{
	@media (min-width: 992px){
		padding-bottom: 75px;
	}
	.ghost-text{
		text-transform: uppercase;
		font-size: 100px;
		line-height: 150%;
		display: block;
		font-weight: 900;
		opacity: 0.07;
		margin-bottom: -60px;
		@media (max-width: 991px){
			display: none;
		}
	}
}






//forcorporate
.forcorporate{
	.article-img{
		img{
			margin-top: 0 !important;
		}
	}
}