/* 
		_other.scss
*/

/*
										---OTHER---
*/











// ---FANCYBOX---
[data-fancybox]{
	display: block;
	position: relative;
	z-index: 1;
	&:focus{
		outline: 0;
	}
}
.fancybox-slide{
	padding: 0 15px;
}
.fancybox-infobar__body, .fancybox-button{
	background-color: rgba($color-1, 0.6);
}
.fancybox-button:hover:not([disabled]){
	background-color: rgba($color-2, 0.8);
}
.fancybox-bg{
	background-color: rgba(black, 0.8);
	// &:before{
	// 	@extend .claf;
	// 	border: 0px outset rgba($color-2, 1);
	// 	background-color: rgba($color-2, 0.6);
	// 	transform: translate(-100%, -100%);
	// }
	// &:after{
	// 	@extend .claf;
	// 	border: 0px outset rgba($color-2, 1);
	// 	background-color: rgba($color-2, 0.6);
	// 	transform: translate(100%, 100%);
	// }

}
.fancybox-is-open{
	.fancybox-bg{
		opacity: 1;
		background-color: rgba(black, 0.8);
		&:before, &:after{
			transition: all 0.8s ease;
		}
		// &:before{
		// 	@extend .claf;
		// 	border: 300px outset rgba($color-2, 1);
		// 	background-color: rgba($color-2, 0.6);
		// 	transform: translate(-25%, -25%);
		// }
		// &:after{
		// 	@extend .claf;
		// 	border: 300px outset rgba($color-2, 1);
		// 	background-color: rgba($color-2, 0.6);
		// 	transform: translate(25%, 25%);
		// }

	}
}

.fancybox-close-small{	
	&:focus, &:active{
		border: none;
		&:after{
			outline: none;
			border: none;
		}
	}
	&:after{
		font-size: 44px;
		border-radius: 0;
		background-color: transparent;
		color: white;
		//transform: scale(2);
	}
	&:hover{
		&:after{
			color: white;
			background-color: transparent;
		}
	}
}

//thumbs снизу
html{

	.fancybox-show-thumbs .fancybox-thumbs{
		text-align: center;
		display: block;
		background-color: transparent;
		position: absolute;
		width: 100%;
		height: 80px;
		top: auto;
		bottom: 15px;
	}
}
.fancybox-show-thumbs .fancybox-inner{
	right: 0;
}
.fancybox-thumbs > ul > li{
	float: none;
	display: inline-block;
}




// ---FLICKITY---
.carousel-prev-next{
	color: inherit;
	z-index:2;	
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  *{
  	pointer-events: auto;
  }
	.next, .prev{
		font-size: 20px;
		width: 40px;
		border: 0;
		background-color: transparent;
		position: absolute;
		top: 50%;
		//margin-top: -2.25px;
		color: black;
		fill: black;
		&:hover{
			cursor: pointer;
			color: $color-1;
		}
	}
	.next{
		right: 15px;
		text-align: right;
		&.reverse{
			transform: scaleX(-1) translateY(-50%);
		}
	}
	.prev{
		left: 15px;
		&.reverse{
			transform: scaleX(-1) translateY(-50%);
		}
	}
}
.flickity-btn-1{

	.flickity-prev-next-button{
		@extend .owl-btn;
		padding: 0;
		width: 48px;
		height: 48px;
		svg{
			width: 100% !important;
			height: 100% !important;
			//.arrow{
			//	transform-origin: 50% 50%;
			//}
			top: 0;
			left: 0;
		}
	}
	&.flickity-btn-hidden{
		.flickity-prev-next-button{
			opacity: 0.3;
		}
		&:hover{
			.flickity-prev-next-button{
				opacity: 1;
			}
		}
	}
}
.flickity-btn-2{
	.flickity-prev-next-button{
		background: transparent;
		.arrow{
			fill: white;
		}
		&:hover{
			.arrow{
				fill: $color-2;
			}
		}
	}
}
.flickity-page-dots{
	margin: 30px 0;
	z-index: 1;
	//margin-bottom: 50px;
	.dot{
		//border: 1px solid white;
		transition: all 0.3s ease;
		background-color: rgba(white, 1);
		opacity: 1;
		border-radius: 50%;
  	width: 10px;
  	height: 10px;
		&.is-selected{
			transform: scale(1);
			background-color: $color-1;
		}
	}
}
.carousel-dots{
	.owl-dot, .dot{
		margin-left: 6px;
		margin-right: 6px;
		height: 10px;
		width: 10px;
		display: inline-block;
		border-radius: 50%;
		position: relative;
		&.is-selected, &.active{
			z-index: 2;
			position: relative;
			background-color: white;
		}
	}

}
.flickity-dots-1{
	.flickity-page-dots{
		margin-top: 0;
		margin-bottom: 70px;
		position: relative;
	}
	@extend .carousel-dots;
	.dot{
		border: 1px solid $color-1;
	}

}
.fancybox-caption{
	@extend .container;
	font-family: $font-family-1;
}
.prev-next-dots{
	.carousel-prev-next{
		position: relative;
		.next{
		}
		.prev, .next{
			left: inherit; left: unset;
			right: inherit; right: unset;
			top: 50%;
    	margin-top: -22.5+1px;
		}
		.prev{
			transform: translateX(-100%);
			&.reverse{
				transform: translateX(-100%) scaleX(-1);
			}
		}

	}
}




.carousel-article{
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
	.carousel {
	  margin-bottom: 20px;
	}
	.carousel-cell {
	  width: 100%;
	  height: auto;
	  margin-right: 25px;
	}
	img{
		width: 100%;
	}
	.carousel-main{
		.flickity-viewport{
			border: 1px solid rgba($color-gray-1, 0.2);
			//border-radius: 15px;
			overflow: hidden;
		}
	}
	.carousel-nav{
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 2px 5px;
		.carousel-cell{
	  	width: 30%;
			height: auto;
	  	//margin-right: 10px;
	  	border: 2px solid transparent;
	  	transition: all 0.3s ease-out ;
	  	.img-content{
	  		transition: all 0.3s ease-out;
	  		//transform: scale(0.8);
	  	}
	  	&.is-nav-selected{
	  	 //border-color: $color-1;
	  	}
		}
		.is-selected{
			border-color: rgba($color-3, 1);
			.img-content{
				transform: inherit;
			}
		}
	}
	.flickity-prev-next-button.previous{ left: -10px; }
	.flickity-prev-next-button.next{ right: -10px; }
	.flickity-page-dots{
		margin-bottom: -140px;
	
	}
}





.carousel-stand{
	.carousel {
	  background: #FAFAFA;
	  margin-bottom: 40px;
	}
	.carousel-cell {
	  width: 100%;
	  height: 200px;
	  //margin-right: 10px;
	  background: #8C8;
	  border-radius: 5px;
	  counter-increment: carousel-cell;
	  &:before{
		 	display: block;
		  text-align: center;
		  content: counter(carousel-cell);
		  line-height: 200px;
		  font-size: 80px;
		  color: white;
	  }
	}
	.carousel-nav{

		.carousel-cell{
			height: 80px;
	  	width: 100px;
	  	&:before{
				font-size: 50px;
				line-height: 80px;
	  	}
	  	&.is-nav-selected{
	  	 background: #ED2;
	  	}
		}
	}
}









// ---MASONRY---
.grid-img {
  //background: #DDD;
}

/* clear fix */
.grid-img:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-img-item {
  width: #{(100/5) + "%"};
  float:left;
  img{
  	width: 100%;
  }
}
.grid-img-sizer{
	width: #{(100/4) + "%"};
}
.grid-img-item {
  //float: left;
}

.grid-img-item img {
  display: block;
  padding: 3px;
  max-width: 100%;
}



// ---ELEVATEZOOM---
/*
.zoomWindowContainer{
	//width: 600px;
	left: -180%;
	top: -45%;
	position: relative;
}
 */
.zoomContainer{
	z-index: 1;
}
.zoomWindowContainer{
	//width: 800px;
	*{
		border: 5px solid rgba($color-4, 0.5) !important;
		border-radius: 3px;
	}
	left: 15px;
  position: relative;
}





.select2-container--default{
	.select2-selection--single{
		//border-radius: 15px;
		border: 1px solid $color-gray-1;
		background-color: transparent;
		height: 36px;		
		border-radius: 0;
		.select2-selection__rendered{
			line-height: 36px;
		}
		&:focus{
			outline: none;
		}
		.select2-selection__rendered{
			color: $color-gray-3;
		}
		.select2-selection__arrow {
			background-color: $color-gray-2;
			border-radius: 0;
			width: 26px;
			b{
				border-color: $color-3 transparent transparent transparent;
			}
		}
	}
	&.select2-container--open{
		.select2-selection--single{
			.select2-selection__arrow {
				b{
					border-color: transparent transparent $color-3 transparent;
				}
			}
		}
	}
	.select2-results__option--highlighted[aria-selected]{
		background-color: white;
		color: $color-2;
	}
	.select2-results__option[aria-selected=true]{
		background-color: inherit;
	}
}
.select2-opacity{
	.select2-container--default{
		.select2-selection--single{
			border: 1px solid $color-1;
			background-color: transparent !important;
			.select2-selection__rendered{
				color: $color-1;
			}
		}
	}
}
.select2-dropdown{
	border-radius: 0;
	border-color: $color-gray-1;
}




//owl
div.owl-nav{
	@media (max-width: 991px) {
		text-align: center;
	}
	.owl-prev, .owl-next{
		display: inline-block;
	}
}
.owl-dots{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: -5px;
	margin-right: -5px;
	position: relative;
	@extend .carousel-dots;
	.owl-dot{
		background-color: rgba($color-1, 0.5);
		&.active{
			background-color: $color-1;
		}
	}
}
.owl-prev{
	margin-right: 5px;
}
.owl-nav{
	text-align: right;
}
.owl-nav-style-1{
	.owl-nav{
		position: relative;
		display: flex;
		justify-content: center;
		padding-top: 25px;
		padding-bottom: 25px;
		.owl-prev{
			margin-right: 0;
		}
		.owl-dots{
			padding: 5px 15px;
		}
	}
}
.dots-center{
	.owl-dots{
		text-align: center;
	}
}
.owl-nav{
	position: absolute;
	width: 100%;
	[class*="owl-"].disabled{
		.owl-btn{
			//background-color: $color-gray-1;
			opacity: 0.3;
		}
	}
	.owl-prev{
		top: 0;
		.owl-btn{
			left: 0;
		}
	}
	.owl-next{
		.owl-btn{
			right: 0;
			transform: rotate(180deg);
		}
	}
	@media (min-width: 992px) {

	}
	@media (max-width: 991px) {
		position: relative;
		padding: 30px 0;
	}
}
.owl-prev, .owl-next{
	//top: 50%;
	//position: absolute;
}
.owl-btn{
	background: $gradient-1;
	width: 40px;
	height: 40px;
	z-index:2;
	border-radius: 50%;
	display: inline-block;
	border: none;
	display: flex;
	align-items: center;
	box-shadow: 0 0 0px $color-1;
	&:hover, &:focus{
		opacity: 1;
		border: none;
		cursor: pointer;
		background: $gradient-1;
		.arrow{
			fill: white;
		}
	}

	.arrow{
		fill: white;
	}
	svg{
		width: 50px;
		display: block;
		height: 50px;
		//display: inline-block;
		transform: scale(0.5);
	}
	.arrow{
    transform-origin: 0 0;
	}
}
.owl-btn-2{
	.owl-btn{
		@extend .owl-btn;
		border: 1px solid rgba($color-1, 0.5);
		.arrow{
			fill: $color-1;
		}
		&:hover{
			background-color: $color-1;
			.arrow{
				fill: white;
			}
		}
	}
}
.owl-btn-1{
	.owl-nav{
		top: auto;
		// @media (min-width: 992px) {
		// 	bottom: -65px;
		// }
	}	
	.owl-prev{
		right: 60px;
	}
	.owl-next{
		right: 0;
	}
	// .owl-btn.previous{
	// 	left: auto;
	// 	right: 60px;
	// }
}
