@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?epq99x');
  src:  url('fonts/icomoon.eot?epq99x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?epq99x') format('truetype'),
    url('fonts/icomoon.woff?epq99x') format('woff'),
    url('fonts/icomoon.svg?epq99x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icm-"], [class*=" icm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icm-favorite-heart-button:before {
  content: "\e900";
}
.icm-flag-russian .path1:before {
  content: "\e901";
  color: rgb(255, 255, 255);
}
.icm-flag-russian .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 0, 0);
}
.icm-flag-russian .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(0, 0, 255);
}
.icm-front-bus:before {
  content: "\e904";
}
.icm-gallery:before {
  content: "\e905";
}
.icm-growth:before {
  content: "\e906";
}
.icm-hot-coffee-rounded-cup-on-a-plate-from-side-view:before {
  content: "\e907";
}
.icm-hotel-with-three-floors:before {
  content: "\e908";
}
.icm-house:before {
  content: "\e909";
}
.icm-house-1:before {
  content: "\e90a";
}
.icm-house-plan-scale:before {
  content: "\e90b";
}
.icm-key:before {
  content: "\e90c";
}
.icm-left-arrow:before {
  content: "\e90d";
}
.icm-left-arrow-min:before {
  content: "\e90e";
}
.icm-like:before {
  content: "\e90f";
}
.icm-magnifying-glass:before {
  content: "\e910";
}
.icm-man-user:before {
  content: "\e911";
}
.icm-map:before {
  content: "\e912";
}
.icm-map-marker:before {
  content: "\e913";
}
.icm-map-of-roads:before {
  content: "\e914";
}
.icm-open-exit-door:before {
  content: "\e915";
}
.icm-parked-car:before {
  content: "\e916";
}
.icm-phone-call:before {
  content: "\e917";
}
.icm-phone-receiver:before {
  content: "\e918";
}
.icm-pin:before {
  content: "\e919";
}
.icm-placeholder-Fill:before {
  content: "\e91a";
  color: #cc2527;
}
.icm-placeholder:before {
  content: "\e91b";
}
.icm-placeholder-on-map-paper-in-perspective:before {
  content: "\e91c";
}
.icm-price-tag:before {
  content: "\e91d";
}
.icm-price-tag-1:before {
  content: "\e91e";
}
.icm-roof:before {
  content: "\e91f";
}
.icm-search:before {
  content: "\e920";
}
.icm-set-square:before {
  content: "\e921";
}
.icm-share:before {
  content: "\e922";
}
.icm-sketch:before {
  content: "\e923";
}
.icm-user:before {
  content: "\e924";
}
.icm-armchair:before {
  content: "\e925";
}
.icm-arroba:before {
  content: "\e926";
}
.icm-arrow-pointing-to-right:before {
  content: "\e927";
}
.icm-bus-stop:before {
  content: "\e928";
}
.icm-college-graduation:before {
  content: "\e929";
}
.icm-compass:before {
  content: "\e92a";
}
.icm-doorway:before {
  content: "\e92b";
}
.icm-down-arrow:before {
  content: "\e92c";
}
.icm-draw:before {
  content: "\e92d";
}
