@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?epq99x');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?epq99x#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?epq99x') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?epq99x') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?epq99x##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icm-"], [class*=" icm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icm-favorite-heart-button {
  &:before {
    content: $icm-favorite-heart-button; 
  }
}
.icm-flag-russian .path1 {
  &:before {
    content: $icm-flag-russian-path1;  
    color: rgb(255, 255, 255);
  }
}
.icm-flag-russian .path2 {
  &:before {
    content: $icm-flag-russian-path2;  
    margin-left: -1em;  
    color: rgb(255, 0, 0);
  }
}
.icm-flag-russian .path3 {
  &:before {
    content: $icm-flag-russian-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 255);
  }
}
.icm-front-bus {
  &:before {
    content: $icm-front-bus; 
  }
}
.icm-gallery {
  &:before {
    content: $icm-gallery; 
  }
}
.icm-growth {
  &:before {
    content: $icm-growth; 
  }
}
.icm-hot-coffee-rounded-cup-on-a-plate-from-side-view {
  &:before {
    content: $icm-hot-coffee-rounded-cup-on-a-plate-from-side-view; 
  }
}
.icm-hotel-with-three-floors {
  &:before {
    content: $icm-hotel-with-three-floors; 
  }
}
.icm-house {
  &:before {
    content: $icm-house; 
  }
}
.icm-house-1 {
  &:before {
    content: $icm-house-1; 
  }
}
.icm-house-plan-scale {
  &:before {
    content: $icm-house-plan-scale; 
  }
}
.icm-key {
  &:before {
    content: $icm-key; 
  }
}
.icm-left-arrow {
  &:before {
    content: $icm-left-arrow; 
  }
}
.icm-left-arrow-min {
  &:before {
    content: $icm-left-arrow-min; 
  }
}
.icm-like {
  &:before {
    content: $icm-like; 
  }
}
.icm-magnifying-glass {
  &:before {
    content: $icm-magnifying-glass; 
  }
}
.icm-man-user {
  &:before {
    content: $icm-man-user; 
  }
}
.icm-map {
  &:before {
    content: $icm-map; 
  }
}
.icm-map-marker {
  &:before {
    content: $icm-map-marker; 
  }
}
.icm-map-of-roads {
  &:before {
    content: $icm-map-of-roads; 
  }
}
.icm-open-exit-door {
  &:before {
    content: $icm-open-exit-door; 
  }
}
.icm-parked-car {
  &:before {
    content: $icm-parked-car; 
  }
}
.icm-phone-call {
  &:before {
    content: $icm-phone-call; 
  }
}
.icm-phone-receiver {
  &:before {
    content: $icm-phone-receiver; 
  }
}
.icm-pin {
  &:before {
    content: $icm-pin; 
  }
}
.icm-placeholder-Fill {
  &:before {
    content: $icm-placeholder-Fill;     
    color: #cc2527;
  }
}
.icm-placeholder {
  &:before {
    content: $icm-placeholder; 
  }
}
.icm-placeholder-on-map-paper-in-perspective {
  &:before {
    content: $icm-placeholder-on-map-paper-in-perspective; 
  }
}
.icm-price-tag {
  &:before {
    content: $icm-price-tag; 
  }
}
.icm-price-tag-1 {
  &:before {
    content: $icm-price-tag-1; 
  }
}
.icm-roof {
  &:before {
    content: $icm-roof; 
  }
}
.icm-search {
  &:before {
    content: $icm-search; 
  }
}
.icm-set-square {
  &:before {
    content: $icm-set-square; 
  }
}
.icm-share {
  &:before {
    content: $icm-share; 
  }
}
.icm-sketch {
  &:before {
    content: $icm-sketch; 
  }
}
.icm-user {
  &:before {
    content: $icm-user; 
  }
}
.icm-armchair {
  &:before {
    content: $icm-armchair; 
  }
}
.icm-arroba {
  &:before {
    content: $icm-arroba; 
  }
}
.icm-arrow-pointing-to-right {
  &:before {
    content: $icm-arrow-pointing-to-right; 
  }
}
.icm-bus-stop {
  &:before {
    content: $icm-bus-stop; 
  }
}
.icm-college-graduation {
  &:before {
    content: $icm-college-graduation; 
  }
}
.icm-compass {
  &:before {
    content: $icm-compass; 
  }
}
.icm-doorway {
  &:before {
    content: $icm-doorway; 
  }
}
.icm-down-arrow {
  &:before {
    content: $icm-down-arrow; 
  }
}
.icm-draw {
  &:before {
    content: $icm-draw; 
  }
}

