$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-favorite-heart-button: "\e900";
$icm-flag-russian-path1: "\e901";
$icm-flag-russian-path2: "\e902";
$icm-flag-russian-path3: "\e903";
$icm-front-bus: "\e904";
$icm-gallery: "\e905";
$icm-growth: "\e906";
$icm-hot-coffee-rounded-cup-on-a-plate-from-side-view: "\e907";
$icm-hotel-with-three-floors: "\e908";
$icm-house: "\e909";
$icm-house-1: "\e90a";
$icm-house-plan-scale: "\e90b";
$icm-key: "\e90c";
$icm-left-arrow: "\e90d";
$icm-left-arrow-min: "\e90e";
$icm-like: "\e90f";
$icm-magnifying-glass: "\e910";
$icm-man-user: "\e911";
$icm-map: "\e912";
$icm-map-marker: "\e913";
$icm-map-of-roads: "\e914";
$icm-open-exit-door: "\e915";
$icm-parked-car: "\e916";
$icm-phone-call: "\e917";
$icm-phone-receiver: "\e918";
$icm-pin: "\e919";
$icm-placeholder-Fill: "\e91a";
$icm-placeholder: "\e91b";
$icm-placeholder-on-map-paper-in-perspective: "\e91c";
$icm-price-tag: "\e91d";
$icm-price-tag-1: "\e91e";
$icm-roof: "\e91f";
$icm-search: "\e920";
$icm-set-square: "\e921";
$icm-share: "\e922";
$icm-sketch: "\e923";
$icm-user: "\e924";
$icm-armchair: "\e925";
$icm-arroba: "\e926";
$icm-arrow-pointing-to-right: "\e927";
$icm-bus-stop: "\e928";
$icm-college-graduation: "\e929";
$icm-compass: "\e92a";
$icm-doorway: "\e92b";
$icm-down-arrow: "\e92c";
$icm-draw: "\e92d";

